<div *ngIf="isInitialized()">
    <p-dialog header="Stock To Buy"
              [modal]="modal"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="600"
              [height]="530"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <stock-to-buy-form>
                </stock-to-buy-form>
            </div>
            <p-footer>
                <stock-to-buy-form-buttons [showContinuousAddButton]="showContinuousAddButton"
                                           [showAddButton]="showAddButton"
                                           [showCloseButton]="showCloseButton">
                </stock-to-buy-form-buttons>
            </p-footer>
    </p-dialog>
</div>
