<div *ngIf="!isCrudNoneOperation()">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="tickerSymbol">Ticker Symbol:</label>
                </div>
                <div class="ui-grid-col-10">
                    <stock-autocomplete id="tickerSymbol"
                                        [(ngModel)]="modelObject.tickerSymbol"
                                        [formGroup]="formGroup"
                                        formControlName="tickerSymbol"
                                        uppercase
                                        (stockSelected)="onStockSelected( $event )">
                    </stock-autocomplete>
                </div>
            </div>
            <div [hidden]="formGroup.controls['tickerSymbol'].valid" class="ui-grid-row">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isTickerSymbolInvalid()">
                    <i class="fa fa-close"></i>
                    Ticker Symbol is required
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="companyNameColumn">Company:</label>
                </div>
                <div id="companyNameColumn" class="ui-grid-col-10">
                    {{modelObject.companyName}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="lastPriceColumn">Last Price:</label>
                </div>
                <div id="lastPriceColumn" class="ui-grid-col-2">
                    {{modelObject.lastPrice | currency:'USD': true}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="comments">Comments:</label>
                </div>
                <div class="ui-grid-col-10">
                    <textarea id="comments"
                              maxlength="4000"
                              formControlName="comments"
                              [(ngModel)]="modelObject.comments"
                              [rows]="5"
                              [cols]="30"
                              pInputTextarea>
                    </textarea>
                    <!--
                    <input id="comments"
                           type="text"
                           maxlength="StockToBuy.COMMENTS_LEN"
                           pInputText
                           formControlName="comments"
                           [(ngModel)]="modelObject.comments"> -->
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            SOURCE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="notesSource">Source:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-dropdown id="notesSource"
                                class="crud-form"
                                [options]="sourceItems"
                                formControlName="notesSource"
                                [(ngModel)]="modelObject.notesSourceId"
                                (onChange)="sourcesOnChange($event)"
                                [style]="{'width':'225px'}"
                                maxlength="20"
                                uppercase
                                editable="true"
                                placeholder="Select or enter a source">
                    </p-dropdown>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            BUY SHARES UP TO PRICE
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="buySharesUpToPrice">Buy Shares Up To Price:</label>
                </div>
                <div class="ui-grid-col-2">
                    <input currencyMask
                           id="buySharesUpToPrice"
                           formControlName="buySharesUpToPrice"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-default ui-state-filled"
                           [(ngModel)]="modelObject.buySharesUpToPrice"
                           placeholder="$"/>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            BUY SHARES AFTER DATE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="buyAfterDate">Buy Shares After:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-calendar id="buyAfterDate"
                                class="crud-form"
                                formControlName="buyAfterDate"
                                [showIcon]="true"
                                dateFormat="yy-mm-dd"
                                [inputStyle]="{'width':'100px'}"
                                [(ngModel)]="modelObject.buyAfterDate">
                    </p-calendar>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            TAGS
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="tags">Tags:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-chips id="tags"
                             name="basic"
                             placeholder="type and press enter"
                             formControlName="tags"
                             [(ngModel)]="modelObject.tags">
                    </p-chips>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
