<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <stock-to-buy-table-buttons>
    </stock-to-buy-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <stock-to-buy-dialog>
    </stock-to-buy-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DEFAULT COLUMN DEFINITION
------------------------------------------------------------------------------------------------------------>
<ng-template #defaultColumnsTemplate let-column="column" let-modelObject="modelObject">
    <crud-table-column-by-data-type [column]="column"
                                    [modelObject]="modelObject">
    </crud-table-column-by-data-type>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
CUSTOM STOCK TO BUY COLUMNS TEMPLATE
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <!----------------------------------------------------------------------------------------------------------
        RECORD BUY BUTTON
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'recordBuy'">
            <button pButton type="button" (click)="onBuyButtonClick( modelObject )" label="Record Buy">
            </button>
        </div>
        <!----------------------------------------------------------------------------------------------------------
        BUY SHARES UP TO
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'buySharesUpToPrice'">
            <div class="buy" *ngIf="modelObject && modelObject['lastPrice'] < modelObject[column.field]">
                <currency [currencyValue]="modelObject[column.field]">
                </currency>
            </div>
            <div class="wait" *ngIf="modelObject && modelObject['lastPrice'] >= modelObject[column.field]">
                <currency [currencyValue]="modelObject[column.field]">
                </currency>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------
        BUY SHARES AFTER DATE
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'buyAfterDate'">
            <div class="buy" *ngIf="modelObject && isAfterBuyAfterDate( modelObject )">
                {{modelObject[column.field] | date: 'y-MM-dd' }}
            </div>
            <div class="wait" *ngIf="modelObject && !isAfterBuyAfterDate( modelObject )">
                {{modelObject[column.field] | date: 'y-MM-dd' }}
            </div>
        </div>

        <div *ngSwitchDefault>
            <stock-model-object-common-columns [modelObject]="modelObject"
                                               [column]="column">
            </stock-model-object-common-columns>

            <!--
            <ng-container *ngTemplateOutlet="defaultColumnsTemplate; context: {modelObject: modelObject, column: column}">
            </ng-container> -->
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<stock-model-object-table-component [buttonsTemplate]="buttonsTemplate"
                                    [columnsTemplate]="columnsTemplate"
                                    [dialogTemplate]="dialogTemplate"
                                    [defaultColumnsTemplate]="defaultColumnsTemplate"
                                    cookieContext="stockToBuyTableTabComponent"
                                    [modelObjectRows]="modelObjectRows"
                                    [defaultColumns]="defaultColumns"
                                    [otherColumns]="otherColumns"
                                    [totalRecords]="totalRows"
                                    [(selection)]="selectedModelObject"
                                    (onRowSelect)="onRowSelect($event)"
                                    (onRowUnSelect)="onRowUnSelect($event)"
                                    (onLazyLoad)="lazyLoadTable($event)"
                                    [lazy]="true"
                                    (onRowDblclick)="onRowDoubleClick($event)">
</stock-model-object-table-component>
