<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <stock-to-buy-table-buttons>
    </stock-to-buy-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <stock-to-buy-dialog>
    </stock-to-buy-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
CUSTOM STOCK TO BUY COLUMNS TEMPLATE
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <!----------------------------------------------------------------------------------------------------------
        RECORD BUY BUTTON
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'recordBuy'">
            <button pButton type="button" (click)="onBuyButtonClick( modelObject )" label="Record Buy">
            </button>
        </div>
        <!----------------------------------------------------------------------------------------------------------
        BUY SHARES UP TO
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'buySharesUpToPrice'">
            <div class="buy" *ngIf="modelObject && modelObject['lastPrice'] < modelObject[column.field]">
                <currency [currencyValue]="modelObject[column.field]">
                </currency>
            </div>
            <div class="wait" *ngIf="modelObject && modelObject['lastPrice'] >= modelObject[column.field]">
                <currency [currencyValue]="modelObject[column.field]">
                </currency>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------
        BUY SHARES AFTER DATE
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'buyAfterDate'">
            <div class="buy" *ngIf="modelObject && isAfterBuyAfterDate( modelObject )">
                {{modelObject[column.field] | date: 'y-MM-dd' }}
            </div>
            <div class="wait" *ngIf="modelObject && !isAfterBuyAfterDate( modelObject )">
                {{modelObject[column.field] | date: 'y-MM-dd' }}
            </div>
        </div>

        <div *ngSwitchDefault>
            <stock-model-object-common-columns [modelObject]="modelObject"
                                               [column]="column">
            </stock-model-object-common-columns>
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<stock-model-object-table-layout [buttonsTemplate]="buttonsTemplate"
                                 [columnsTemplate]="columnsTemplate"
                                 [dialogTemplate]="dialogTemplate"
                                 cookieContext="{{getCookieContext()}}"
                                 [modelObjectRows]="modelObjectRows"
                                 [(displayColumns)]="displayColumns"
                                 [defaultColumns]="defaultColumns"
                                 [additionalColumns]="additionalColumns"
                                 [rowsToDisplay]="rowsToDisplay"
                                 [rowsPerPageOptions]="rowsPerPageOptions"
                                 [totalRecords]="totalRows"
                                 [(selection)]="selectedModelObject"
                                 (rowSelected)="onRowSelect($event)"
                                 (onLazyLoad)="lazyLoadTable($event)"
                                 [lazy]="true"
                                 [loadingData]="loading"
                                 [showHeaderButtons]="showHeaderButtons"
                                 (stockSelected)="onStockSelected($event)"
                                 (onLazyLoadEvent)="lazyLoadTable($event)"
                                 (onRowDblclick)="onRowDoubleClick($event)">
</stock-model-object-table-layout>
