<div id="customerAccountTableDiv" ngStyle="">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-dataTable [value]="rows"
                             [ngClass]="{'editing-table': crudOperation != CrudOperation.NONE }"
                             selectionMode="single"
                             [(selection)]="selectedModelObject"
                             (onRowSelect)="onRowSelect($event)"
                             (onRowUnselect)="onRowUnSelect($event)"
                             [totalRecords]="totalRows"
                             [loading]="loading"
                             [lazy]="false"
                             (onRowDblclick)="onRowDoubleClick($event)"
                             [responsive]="true">

                    <!----------------------------------------------------------------------------------------------------------
                    NAME
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="name"
                              field="name"
                              header="Name"
                              [style]="{'width':'60px'}"
                              [sortable]="true">
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    BROKER
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="broker"
                              field="brokerage"
                              header="Broker"
                              [style]="{'width':'60px'}"
                              [sortable]="true">
                    </p-column>

                    <p-footer>
                        <tradeit-account-table-buttons>
                        </tradeit-account-table-buttons>
                    </p-footer>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<tradeit-security-question-dialog>
</tradeit-security-question-dialog>
<tradeit-account-dialog>
</tradeit-account-dialog>
