<div *ngIf="!isCrudNoneOperation()">
    <p-dialog header="Account"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="500"
              [minWidth]="500"
              [height]="200"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <tradeit-account-form>
                </tradeit-account-form>
            </div>
            <p-footer>
                <tradeit-account-form-buttons>
                </tradeit-account-form-buttons>
            </p-footer>
    </p-dialog>
</div>
