<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <tradeit-account-table-buttons>
    </tradeit-account-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <tradeit-account-dialog>
    </tradeit-account-dialog>
    <tradeit-security-question-dialog>
    </tradeit-security-question-dialog>
    <confirm-dialog message="Do you want to update your TradeIt account token?">
    </confirm-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
CUSTOM STOCK TO BUY COLUMNS TEMPLATE
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <div *ngSwitchDefault>
            <crud-table-column-by-data-type [modelObject]="modelObject"
                                            [column]="column">
            </crud-table-column-by-data-type>
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<crud-table-layout [buttonsTemplate]="buttonsTemplate"
                   [columnsTemplate]="columnsTemplate"
                   [dialogTemplate]="dialogTemplate"
                   cookieContext="TradeItAccountTable"
                   [modelObjectRows]="modelObjectRows"
                   [(displayColumns)]="displayColumns"
                   [defaultColumns]="defaultColumns"
                   [additionalColumns]="additionalColumns"
                   [totalRecords]="totalRows"
                   [(selection)]="selectedModelObject"
                   (rowSelected)="onRowSelect($event)"
                   (rowUnselected)="onRowUnSelect($event)"
                   (onLazyLoad)="lazyLoadTable($event)"
                   [lazy]="false"
                   [loadingData]="loading"
                   [showCustomizeButton]="false"
                   [showHeaderButtons]="false"
                   (onLazyLoadEvent)="lazyLoadTable($event)"
                   (onRowDblclick)="onRowDoubleClick($event)">
</crud-table-layout>
