<div *ngIf="modelObject && crudOperation" style="text-align: center;min-width: 500px" >
    <div *ngIf="isShowDeleteButton()" class="crud-form-delete-message">
        <p>
        {{getDeleteMessage(modelObject)}}
        </p>
    </div>
    <div class="crud-form-buttons">
        <div class="crud-form-button" *ngIf="isShowSaveButton()">
            <button class="crud-form-button" pButton
                    [ngClass]="{'disabled': isSaveButtonDisabled()}"
                    type="button"
                    pButton
                    (click)="onSaveButtonClick()"
                    label=" {{getSaveButtonLabel()}}"
                    icon="fa fa-save"
                    [disabled]="isSaveButtonDisabled()">
            </button>
        </div>
        <div class="crud-form-button" *ngIf="isShowAddButton()">
            <button class="crud-form-button"
                    [ngClass]="{'disabled': isAddButtonDisabled()}"
                    pButton
                    type="button"
                    (click)="onAddButtonClick()"
                    label=" {{getAddButtonLabel()}}"
                    icon="fa fa-save"
                    [disabled]="isAddButtonDisabled()">
            </button>
        </div>
        <div class="crud-form-button" *ngIf="isShowContinuousAddButton()">
            <button class="crud-form-button"
                    [ngClass]="{'disabled': isContinuousAddButtonDisabled()}"
                    pButton
                    type="button"
                    (click)="onContinuousAddButtonClick()"
                    label=" {{getContinuousAddButtonLabel()}}"
                    icon="fa fa-save"
                    [disabled]="isContinuousAddButtonDisabled()">
            </button>
        </div>
        <div class="crud-form-button" *ngIf="isShowDeleteButton()">
            <button class="crud-form-button"
                    [ngClass]="{'disabled': isDeleteButtonDisabled()}"
                    pButton
                    type="button"
                    (click)="onDeleteButtonClick()"
                    label=" {{getDeleteButtonLabel()}}"
                    icon="fa fa-trash"
                    [disabled]="isDeleteButtonDisabled()">
            </button>
        </div>
        <div class="crud-form-button" *ngIf="isShowCloseButton()">
            <button class="crud-form-button"
                    pButton
                    type="button"
                    (click)="onCloseButtonClick( CloseButtonEvent.CANCEL_BUTTON )"
                    label=" Cancel"
                    icon="fa fa-close"
                    [disabled]="isCloseButtonDisabled()">
            </button>
        </div>
        <div class="crud-form-button" *ngIf="isShowResetButton()">
            <button class="crud-form-button"
                    pButton
                    type="button"
                    (click)="onResetButtonClick()"
                    icon="fa fa-refresh"
                    label=" {{getResetLabel()}}">
            </button>
        </div>
    </div>
</div>
