div.crud-form.ui-grid-row
{
    /*border: 1px solid red;*/
}

div.crud-form-label
{
    text-align: right;
    /*border: 1px solid red;*/
    font-size: 1.20em;
    /*
    display: table-cell;
    vertical-align: middle;
    font-size: 1.0em;*/
    /*height: 40px;
    line-height: 40px; */
    /*
    display: inline-block;
    vertical-align: middle;*/
}

label.crud-form
{
    /*font-size: 1.2em;*/
    /*width: 200px;*/
    /*height: 35px;*/
    /*text-align: right;*/
    /*border: 1px solid red;*/
}

input.crud-form
{
    /*
    vertical-align: middle;
    font-size: 1.0em;*/
    /*height: 35px;*/
    /*border: 1px solid red;*/
    /*
    display: inline-block;
    vertical-align: middle;
    */
}

p-dropdown.crud-form
{
    vertical-align: middle;
    font-size: 1.0em;
}

p-inputMask.crud-form
{
    vertical-align: middle;
    font-size: 1.0em;
}
