<p-panel id="stockNotesPanelDiv" header="Stock Analytics">
    <div>
        PT = Price Target
    </div>
    <div id="stockNotesTableDiv">
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="modelObject"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnSelect($event)"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[20,30,40]"
                     [rows]="25"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [responsive]="true">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tickerSymbol"
                      field="tickerSymbol"
                      header="Ticker"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            AVG UPSIDE PERCENTAGE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="avgUpsidePercent"
                      field="avgUpsidePercent"
                      header="Avg Upside %"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <!--
            <p-column id="companyName"
                      field="companyName"
                      header="Company Name"
                      [style]="{'width':'150px'}"
                      [sortable]="false">
            </p-column> -->
            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="comments"
                      field="comments"
                      header="Comments"
                      [style]="{'width':'150px'}"
                      [sortable]="false">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            ANALYST BUY COUNT
            ------------------------------------------------------------------------------------------------------------>
            <p-column id=""
                      field="analystByCount"
                      header="Analyst BSH"
                      [style]="{'width':'120px'}"
                      [sortable]="true">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    <span class="strongBuy">       {{stockAnalytics['analystStrongBuyCount']}}</span><!--
                    --><span class="buy">          {{stockAnalytics['analystBuyCount']}}</span><!--
                    --><span class="hold">         {{stockAnalytics['analystHoldCount']}}</span><!--
                    --><span class="underPerform"> {{stockAnalytics['analystUnderPerformCount']}}</span><!--
                    --><span class="sell">         {{stockAnalytics['analystSellCount']}}</span>
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            ANALYST SENTIMENT DATE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="analystSentimentDate"
                      field="analystSentimentDate"
                      header="Sentiment Entered"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | date: 'shortDate' }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            HIGH ANALYST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="highAnalystPrice"
                      field="highAnalystPrice"
                      header="High Analyst PT"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="false">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            AVG ANALYST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="avgAnalystPrice"
                      field="avgAnalystPrice"
                      header="Avg Analyst PT"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="false">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            LOW ANALYST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="lowAnalystPrice"
                      field="lowAnalystPrice"
                      header="Low Analyst PT"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="false">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE CHANGE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="analystPriceDate"
                      field="analystPriceDate"
                      header="PT Entered"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | date: 'shortDate' }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="lastPrice"
                      field="lastPrice"
                      header="Last Price"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="buySharesBelow"
                      field="buySharesBelow"
                      header="Buy Below Price"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
                <ng-template let-col let-stockAnalytics="rowData" pTemplate="body">
                    {{stockAnalytics[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>

            <p-footer>
                <stock-analytics-table-buttons>
                </stock-analytics-table-buttons>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
<stock-analytics-dialog>
</stock-analytics-dialog>
