span.strongBuy
{
    background: darkgreen;
    width: 20px;
    text-align: center;
    display: inline-block;
}

span.buy
{
    background: green;
    width: 20px;
    text-align: center;
    display: inline-block;
}

span.hold
{
    background: yellow;
    color: black;
    width: 20px;
    text-align: center;
    display: inline-block;
}

span.underPerform
{
    background: red;
    width: 20px;
    text-align: center;
    display: inline-block;
}

span.sell
{
    background: darkred;
    width: 20px;
    text-align: center;
    display: inline-block;
}

/*
#stockAnalyticsPanelDiv
{
    width:100%;
    float: left;
}

#stockAnalyticsTableDiv
{
    width:100%;
    float: left;
}

#buttonDiv
{
    text-align: center;
    width: 100%;
}

#searchDiv
{
    width: 100%;
    vertical-align: top;
}

#tableDiv
{
    width: 100%;
    vertical-align: bottom;
}

#searchInputDiv
{
    display: inline;
}

#clearSearchIcon
{
    float: right;
}
*/
