<p-panel header="Dashboard">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 5px 0px; height:100vh; overflow: auto">
        <div class="crud-form ui-grid-row" style="height: 4%">
            <div class="ui-grid-col-4 ui-state-default">
                <stock-search (stockSelected)="onStockSelected( $event )"
                              (resetButtonClick)="onResetButtonClick()">
                </stock-search>
            </div>
       </div>
        <div class="ui-grid-row" style="height: 48%">
            <div class="ui-grid-col-6" style="overflow:auto;">
                <p-panel header="Notes">
                    <stock-notes-dashboard-table></stock-notes-dashboard-table>
                </p-panel>
            </div>
            <div class="ui-grid-col-6" style="overflow:auto;">
                <p-panel header="Stocks to Buy">
                    <stock-to-buy-dashboard-table></stock-to-buy-dashboard-table>
                </p-panel>
            </div>
        </div>
        <div class="ui-grid-row" style="height: 48%">
            <div class=" ui-grid-col-6" style="overflow: auto">
                <p-panel header="Analyst Consensus">
                    <stock-analyst-consensus-dashboard-table></stock-analyst-consensus-dashboard-table>
                </p-panel>
            </div>
            <div class="ui-grid-col-6" style="overflow: auto">
                <p-panel header="Catalyst Events">
                    <stock-catalyst-event-dashboard-table></stock-catalyst-event-dashboard-table>
                </p-panel>
            </div>
        </div>
    </div>
</p-panel>
