<p-dataTable [value]="rows"
             selectionMode="single"
             [(selection)]="selectedModelObject"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnSelect($event)"
             [paginator]="true"
             [pageLinks]="10"
             [rows]="5"
             [loading]="loading"
             [totalRecords]="totalRows"
             [lazy]="true"
             (onLazyLoad)="lazyLoadTable($event)"
             (onRowDblclick)="onRowDoubleClick($event)"
             [responsive]="true">

    <p-header >
        <stock-to-buy-table-buttons>
        </stock-to-buy-table-buttons>
    </p-header>

    <!----------------------------------------------------------------------------------------------------------
    TICKER SYMBOL
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="tickerSymbol"
              field="tickerSymbol"
              header="Ticker"
              [style]="{'width':'30px'}"
              [sortable]="true">
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    COMPLETED
    <p-column id="completed"
              field="completed"
              header="completed"
              [style]="{'width':'30px'}"
              [sortable]="false">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <p-checkbox name="completed" value="stockToBuy[col.field] == 'Y' ? true : false"></p-checkbox>
        </ng-template>
    </p-column>
    ------------------------------------------------------------------------------------------------------------>

    <!----------------------------------------------------------------------------------------------------------
    COMPANY NAME
    ------------------------------------------------------------------------------------------------------------>
    <!--
    <p-column id="companyName"
              field="companyName"
              header="Company Name"
              [style]="{'width':'150px'}"
              [sortable]="false">
    </p-column>
    -->

    <!----------------------------------------------------------------------------------------------------------
    ACTIONS
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="buyButton"
              header="Action"
              [style]="{'width':'35px'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <button pButton type="button" (click)="onBuyButtonClick( stockToBuy )" label="Record Buy"></button>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    STOCK PRICE WHEN CREATED
    <p-column id="stockPriceWhenCreated"
              field="stockPriceWhenCreated"
              header="Price When Created"
              [style]="{'width':'10px','text-align':'right'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            {{stockToBuy[col.field] | currency: 'USD' : true }}
        </ng-template>
    </p-column>
    ------------------------------------------------------------------------------------------------------------>

    <!----------------------------------------------------------------------------------------------------------
    LAST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="lastPrice"
              field="lastPrice"
              header="Last Price"
              [style]="{'width':'20px','text-align':'right'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <gain-loss-currency [currencyValue]="stockToBuy[col.field]"></gain-loss-currency>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    PERCENT OF CHANGE
    <p-column id="percentChange"
              field="percentChange"
              header="% Change"
              [style]="{'width':'10px','text-align':'right'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <div class="positiveGain" *ngIf="calculatePercentChange( stockToBuy ) >= 0.0">
                {{calculatePercentChange( stockToBuy ) | percent: '1.2-2' }}
            </div>
            <div class="negativeGain" *ngIf="calculatePercentChange( stockToBuy ) < 0.0">
                {{calculatePercentChange( stockToBuy ) | percent: '1.2-2' }}
            </div>
        </ng-template>
    </p-column>
    ------------------------------------------------------------------------------------------------------------>

    <!----------------------------------------------------------------------------------------------------------
    BUY SHARES UP TO PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="buySharesUpToPrice"
              field="buySharesUpToPrice"
              header="Buy Up To"
              [style]="{'width':'20px','text-align':'right'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <div class="buy" *ngIf="stockToBuy && stockToBuy['lastPrice'] < stockToBuy[col.field]">
                <gain-loss-currency [currencyValue]="stockToBuy[col.field]"></gain-loss-currency>
            </div>
            <div class="wait" *ngIf="stockToBuy && stockToBuy['lastPrice'] >= stockToBuy[col.field]">
                <gain-loss-currency [currencyValue]="stockToBuy[col.field]"></gain-loss-currency>
            </div>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    BUY SHARES AFTER DATE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="buyAfterDate"
              field="buyAfterDate"
              header="Buy After Date"
              [style]="{'width':'30px'}"
              [sortable]="true">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <div class="buy" *ngIf="stockToBuy && isAfterBuyAfterDate( stockToBuy )">
                <date [dateValue]="stockToBuy[col.field]"></date>
            </div>
            <div class="wait" *ngIf="stockToBuy && !isAfterBuyAfterDate( stockToBuy )">
                <date [dateValue]="stockToBuy[col.field]"></date>
            </div>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    DATE CREATED

    <p-column id="createDate"
              field="createDate"
              header="Date Created"
              [style]="{'width':'20px'}"
              [sortable]="true">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            {{stockToBuy[col.field] | date: 'y-MM-dd' }}
        </ng-template>
    </p-column>
    ------------------------------------------------------------------------------------------------------------>

    <!----------------------------------------------------------------------------------------------------------
    TAGS
    <p-column id="tags"
              field="tags"
              header="Tags"
              [style]="{'width':'40px'}"
              [sortable]="true">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            {{stockToBuy[col.field] }}
        </ng-template>
    </p-column>
    ------------------------------------------------------------------------------------------------------------>

    <!----------------------------------------------------------------------------------------------------------
    SOURCE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="notesSourceName"
              field="notesSourceName"
              header="Source"
              [style]="{'width':'30px'}"
              [sortable]="true">
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    COMMENTS
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="comments"
              field="comments"
              header="Comments"
              [style]="{'width':'175px'}">
        <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
            <stock-comments [stockNotesContainer]="stockToBuy"></stock-comments>
        </ng-template>
    </p-column>

    <p-footer >
        <stock-to-buy-table-buttons>
        </stock-to-buy-table-buttons>
    </p-footer>
</p-dataTable>
<stock-to-buy-dialog>
</stock-to-buy-dialog>
<stock-notes-dialog>
</stock-notes-dialog>
