<p-dataTable [value]="rows"
             selectionMode="single"
             [(selection)]="selectedModelObject"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnSelect($event)"
             [paginator]="true"
             [pageLinks]="10"
             [rows]="5"
             [style]="{'max--height':'80px'}"
             [loading]="loading"
             [totalRecords]="totalRows"
             [lazy]="true"
             (onLazyLoad)="lazyLoadTable($event)"
             (onRowDblclick)="onRowDoubleClick($event)"
             [responsive]="true">

    <p-header>
        <stock-analyst-consensus-table-buttons>
        </stock-analyst-consensus-table-buttons>
    </p-header>

    <!----------------------------------------------------------------------------------------------------------
    TICKER SYMBOL
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="tickerSymbol"
              field="tickerSymbol"
              header="Ticker"
              [style]="{'width':'40px'}"
              [sortable]="true">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <tipranks-link [tickerSymbol]="stockAnalystConsensus.tickerSymbol"
                           [displayValue]="stockAnalystConsensus.tickerSymbol"></tipranks-link>

        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    AVG UPSIDE PERCENTAGE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="avgUpsidePercent"
              header="Avg Upside"
              [style]="{'width':'40px','text-align':'right'}"
              [sortable]="true">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <stock-average-upside-percent [stockQuote]="stockAnalystConsensus"></stock-average-upside-percent>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    COMPANY NAME
    ------------------------------------------------------------------------------------------------------------>
    <!--
    <p-column id="companyName"
              field="companyName"
              header="Company Name"
              [style]="{'width':'150px'}"
              [sortable]="false">
    </p-column> -->

    <!----------------------------------------------------------------------------------------------------------
    COMMENTS
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="comments"
              field="comments"
              header="Comments"
              [style]="{'width':'250px'}"
              [sortable]="false">
        <ng-template let-col let-stockNotes="rowData" pTemplate="body">
            <stock-comments [stockNotesContainer]="stockNotes"></stock-comments>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    ANALYST BUY COUNT
    ------------------------------------------------------------------------------------------------------------>
    <p-column id=""
              field="analystByCount"
              header="Analyst BSH"
              [style]="{'width':'80px'}">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <stock-analyst-consensus [tickerSymbol]="stockAnalystConsensus.tickerSymbol"></stock-analyst-consensus>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    HIGH ANALYST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="highAnalystPrice"
              field="highAnalystPriceTarget"
              header="High Analyst PT"
              [style]="{'width':'40px','text-align':'right'}"
              [sortable]="false">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <currency [currencyValue]="stockAnalystConsensus[col.field]"></currency>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    AVG ANALYST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="avgAnalystPrice"
              field="avgAnalystPriceTarget"
              header="Avg Analyst PT"
              [style]="{'width':'40px','text-align':'right'}"
              [sortable]="false">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <currency [currencyValue]="stockAnalystConsensus[col.field]"></currency>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    LOW ANALYST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="lowAnalystPrice"
              field="lowAnalystPriceTarget"
              header="Low Analyst PT"
              [style]="{'width':'40px','text-align':'right'}"
              [sortable]="false">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <currency [currencyValue]="stockAnalystConsensus[col.field]"></currency>
        </ng-template>
    </p-column>

    <!----------------------------------------------------------------------------------------------------------
    LAST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <p-column id="lastPrice"
              field="lastPrice"
              header="Last Price"
              [style]="{'width':'40px','text-align':'right'}"
              [sortable]="true">
        <ng-template let-col let-stockAnalystConsensus="rowData" pTemplate="body">
            <currency [currencyValue]="stockAnalystConsensus[col.field]"></currency>
        </ng-template>
    </p-column>

    <p-footer>
        <stock-analyst-consensus-table-buttons>
        </stock-analyst-consensus-table-buttons>
    </p-footer>
</p-dataTable>
<stock-analyst-consensus-dialog>
</stock-analyst-consensus-dialog>
