<div *ngIf="!isCrudNoneOperation()">
    <p-dialog header="Stock AnalystConsensus"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="700"
              [height]="680"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <stock-analyst-consensus-form>
                </stock-analyst-consensus-form>
                <!--
                <form-errors [crudFormService]="stockAnalystConsensusCrudServiceContainer.crudFormService">
                </form-errors>
                -->
            </div>
            <p-footer>
                <stock-analyst-consensus-form-buttons>
                </stock-analyst-consensus-form-buttons>
            </p-footer>
    </p-dialog>
</div>
