<div *ngIf="!isCrudNoneOperation()">
    <p-dialog header="Stock Notes"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="1000"
              [height]="660"
              [resizable]="true"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">

            <div>
                <stock-notes-form>
                </stock-notes-form>
            </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
            <p-footer>
                <stock-notes-form-buttons>
                </stock-notes-form-buttons>
            </p-footer>
    </p-dialog>
</div>
