<p-panel class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" header="Portfolios">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div id="stockNote-list">
                    <div *ngFor="let stockNote of rows">
                        <div class="stockNote-div"
                             [class.ui-state-active]="isSelectedStockNote(stockNote)"
                             (click)="onRowSelect(stockNote)">
                             {{stockNote.tickerSymbol}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>
