<p-panel>
        <div class="crud-form ui-grid-row">
            <div class="ui-grid-col-4 ui-state-default">
                <stock-search (stockSelected)="onStockSelected( $event )"
                              (resetButtonClick)="onResetButtonClick()">
                </stock-search>
            </div>
            <div class="ui-grid-col-8 ui-state-default">
            </div>
        </div>
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="selectedModelObject"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnSelect($event)"
                     [paginator]="true"
                     [pageLinks]="10"
                     [rows]="10"
                     [totalRecords]="totalRows"
                     [loading]="loading"
                     [sortField]="tickerSymbol"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [lazy]="true"
                     (onLazyLoad)="lazyLoadTable($event)">
                     [responsive]="true">

            <p-header>
                <stock-notes-table-buttons>
                </stock-notes-table-buttons>
            </p-header>

            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tickerSymbolColumn"
                      field="tickerSymbol"
                      header="Ticker"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            NOTES DATE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="notesDateColumn"
                      field="notesDate"
                      header="Date"
                      [style]="{'width':'90px'}"
                      [sortable]="true">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{stockNotes[col.field] | date: 'y-MM-dd' }}
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            SOURCE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="notesSourceName"
                      field="notesSourceName"
                      header="Source"
                      [style]="{'width':'120px'}"
                      [sortField]="notesSourceId"
                      [sortable]="false">
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            NOTES RATING
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="notesRating"
                      field="notesRating"
                      header="Rating"
                      [style]="{'width':'80px'}">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    <p-rating [(ngModel)]="stockToBuy[col.field]"></p-rating>
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            STOCK PRICE WHEN CREATED
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="stockPriceColumn"
                      field="stockPriceWhenCreated"
                      header="Price When Entered"
                      [style]="{'width':'80px','text-align':'right'}">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{stockNotes[col.field] | currency: 'USD': true }}
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            PERCENT OF CHANGE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="percentChange"
                      field="percentChange"
                      header="% Change Since Entered"
                      [style]="{'width':'80px','text-align':'right'}">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    <stock-quote-percent-change-since-created [stockModelObject]="stockNotes"></stock-quote-percent-change-since-created>
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            OPEN PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="openPrice"
                      field="openPrice"
                      header="Open Price"
                      [style]="{'width':'80px','text-align':'right'}">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    <stock-quote [tickerSymbol]="stockNotes.tickerSymbol"
                                 (stockQuote)="stockNotes.stockQuote">
                        <currency [currencyValue]="stockNotes.stockQuote.openPrice">
                        </currency>
                    </stock-quote>
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="lastPrice"
                      field="lastPrice"
                      header="Last Price"
                      [style]="{'width':'80px','text-align':'right'}">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    <stock-quote-last-price [stockQuoteContainer]="stockNotes"
                                            [stockPriceQuoteContainer]="stockNotes">
                    </stock-quote-last-price>
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE DATE
            ------------------------------------------------------------------------------------------------------------>
            <!--
            <p-column id="lastPriceChangeColumn"
                      field="lastPriceChange"
                      header="Last Price Change "
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{stockNotes[col.field] | date: 'y-MM-dd h:mm a' }}
                </ng-template>
            </p-column>
            -->

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="actionTakenColumn"
                      field="actionTaken"
                      header="Action Taken"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{getActionTaken( stockNotes[col.field] )}}
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN SHARES
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="actionTakenSharesColumn"
                      field="actionTakenShares"
                      header="Action Shares"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            TAGS
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tags"
                      field="tags"
                      header="Tags"
                      [style]="{'width':'120px'}"
                      [sortable]="false">
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            BULL OR BEAR
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="bullOrBearColumn"
                      field="bullOrBear"
                      header="Bull or Bear"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{getBullOrBear( stockNotes[col.field] )}}
                </ng-template>
            </p-column>

            <!----------------------------------------------------------------------------------------------------------
            NOTES
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="notesColumn"
                      field="notes"
                      header="Notes">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    <stock-comments [stockNotesContainer]="stockNotes"></stock-comments>
                </ng-template>
            </p-column>

            <p-footer>
                <stock-notes-table-buttons>
                </stock-notes-table-buttons>
            </p-footer>
        </p-dataTable>
</p-panel>
<stock-notes-dialog>
</stock-notes-dialog>
