
#stockNotesPanelDiv
{
    width:50%;
    float: left;
}

#stockNotesTableDiv
{
    width:100%;
    float: left;
}

#buttonDiv
{
    text-align: center;
    width: 100%;
}

#searchDiv
{
    width: 100%;
    vertical-align: top;
}

#tableDiv
{
    width: 100%;
    vertical-align: bottom;
}

#searchInputDiv
{
    display: inline;
}

#clearSearchIcon
{
    float: right;
}

