<div *ngIf="modelObject">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="tickerSymbol">Ticker Symbol:</label>
                </div>
                <div class="ui-grid-col-9">
                    <stock-autocomplete id="tickerSymbol"
                                        [(ngModel)]="tickerSymbol"
                                        [formGroup]="formGroup"
                                        formControlName="tickerSymbol"
                                        uppercase
                                        (stockSelected)="onStockSelected( $event )">
                    </stock-autocomplete>
                </div>
            </div>
            <div [hidden]="formGroup.controls['tickerSymbol'].valid" class="ui-grid-row">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isTickerSymbolInvalid()">
                    <i class="fa fa-close"></i>
                    Ticker Symbol is required
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="companyNameColumn">Company:</label>
                </div>
                <div id="companyNameColumn" class="ui-grid-col-9">
                    {{modelObject.companyName}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="comments">Comments:</label>
                </div>
                <div class="ui-grid-col-9">
                    <input id="comments"
                           type="text"
                           pInputText
                           formControlName="comments"
                           [(ngModel)]="modelObject.comments">
                </div>
            </div>

            <!--
            SOURCE
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesSource">Source:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-dropdown id="notesSource"
                                class="crud-form"
                                [options]="sources"
                                formControlName="notesSource"
                                [(ngModel)]="modelObject.notesSourceId"
                                (onChange)="sourcesOnChange($event)"
                                [style]="{'width':'225px'}"
                                uppercase
                                editable="true"
                                placeholder="Select or enter a source">
                    </p-dropdown>
                </div>
            </div>
            <!--
            RATING
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesRating">Rating:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-rating id="notesRating"
                              class="crud-form"
                              formControlName="notesRating"
                              [stars]="5"
                              [(ngModel)]="modelObject.notesRating">
                    </p-rating>
                </div>
            </div>
            <!--
            BULL OR BEAR
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="bullOrBear">Bull or Bear:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-selectButton id="bullOrBear"
                                    class="crud-form"
                                    formControlName="bullOrBear"
                                    [options]="bullOrBearOptions"
                                    [(ngModel)]="modelObject.bullOrBear">
                    </p-selectButton>
                </div>
            </div>
            <!--
            DATE
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesDate">Date:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-calendar id="notesDate"
                                class="crud-form"
                                formControlName="notesDate"
                                dateFormat="mm/dd/yy"
                                [showIcon]="true"
                                [inputStyle]="{'width':'100px'}"
                                [(ngModel)]="modelObject.notesDate">
                    </p-calendar>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
