#analystInformation
{
    border: 1px;
}

.slider
{
    width: 225px;
    float: left;
    margin-left: 9px;
}

#analystBuyCountSlider
{
    background-color: darkgreen !important;
    border-color: darkgreen !important;
}


