<div *ngIf="modelObject">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="tickerSymbol">Ticker Symbol:</label>
                </div>
                <div class="ui-grid-col-9">
                    <stock-autocomplete id="tickerSymbol"
                                        [(ngModel)]="tickerSymbol"
                                        [formGroup]="formGroup"
                                        formControlName="tickerSymbol"
                                        uppercase
                                        (stockSelected)="onStockSelected( $event )">
                    </stock-autocomplete>
                </div>
            </div>
            <div [hidden]="formGroup.controls['tickerSymbol'].valid" class="ui-grid-row">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isTickerSymbolInvalid()">
                    <i class="fa fa-close"></i>
                    Ticker Symbol is required
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="companyNameColumn">Company:</label>
                </div>
                <div id="companyNameColumn" class="ui-grid-col-9">
                    {{modelObject.companyName}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="comments">Comments:</label>
                </div>
                <div class="ui-grid-col-9">
                    <input id="comments"
                           type="text"
                           pInputText
                           formControlName="comments"
                           [(ngModel)]="modelObject.comments">
                </div>
            </div>

            <p-fieldset legend="Analyst">
                <!----------------------------------------------------------------------------------------------------------
                ANALYST BUY
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-3">
                        <label class="crud-form" for="analystBuyCount">BUY: {{modelObject.analystBuyCount/10}}</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <p-slider id="analystBuyCount"
                                  class="crud-form"
                                  formControlName="analystBuyCount"
                                  [(ngModel)]="modelObject.analystBuyCount"
                                  [style]="{'width':'225px'}"
                                  [step]="10"
                                  [animate]="true">
                        </p-slider>
                    </div>
                </div>
                <!----------------------------------------------------------------------------------------------------------
                ANALYST SELL
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-3">
                        <label class="crud-form" for="analystSellCount">SELL: {{modelObject.analystSellCount/10}}</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <p-slider id="analystSellCount"
                                  class="crud-form"
                                  formControlName="analystSellCount"
                                  [(ngModel)]="modelObject.analystSellCount"
                                  [style]="{'width':'225px'}"
                                  [step]="10"
                                  [animate]="true">
                        </p-slider>
                    </div>
                </div>
                <!----------------------------------------------------------------------------------------------------------
                ANALYST HOLD
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-3">
                        <label class="crud-form" for="analystHoldCount">HOLD: {{modelObject.analystHoldCount/10}}</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <p-slider id="analystHoldCount"
                                  class="crud-form"
                                  formControlName="analystHoldCount"
                                  [(ngModel)]="modelObject.analystHoldCount"
                                  [style]="{'width':'225px'}"
                                  [step]="10"
                                  [animate]="true">
                        </p-slider>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------------------------
                HIGH Analyst Price Target
                ------------------------------------------------------------------------------------------------------------>
                <div class="ui-grid-row">
                    <div class="crud-form-label ui-grid-col-4">
                        <label class="crud-form" for="highAnalystPriceTarget">High Price Target:</label>
                    </div>
                    <div class="ui-grid-col-8">
                        <p-inputMask
                            id="highAnalystPriceTarget"
                            class="crud-form"
                            formControlName="profitTakingPrice"
                            [(ngModel)]="modelObject.highAnalystPriceTarget"
                            [style]="{'width':'70px'}"
                            maxLength="6"
                            placeholder="$"
                            mask="$9?99999">
                        </p-inputMask>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------------------------
                AVERAGE Analyst Price Target
                ------------------------------------------------------------------------------------------------------------>
                <div class="ui-grid-row">
                    <div class="crud-form-label ui-grid-col-4">
                        <label class="crud-form" for="avgAnalystPriceTarget">Avg Price Target:</label>
                    </div>
                    <div class="ui-grid-col-8">
                        <p-inputMask
                            id="avgAnalystPriceTarget"
                            class="crud-form"
                            formControlName="profitTakingPrice"
                            [(ngModel)]="modelObject.avgAnalystPriceTarget"
                            [style]="{'width':'70px'}"
                            maxLength="6"
                            placeholder="$"
                            mask="$9?99999">
                        </p-inputMask>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------------------------
                LOW Analyst Price Target
                ------------------------------------------------------------------------------------------------------------>
                <div class="ui-grid-row">
                    <div class="crud-form-label ui-grid-col-4">
                        <label class="crud-form" for="lowAnalystPriceTarget">Avg Price Target:</label>
                    </div>
                    <div class="ui-grid-col-8">
                        <p-inputMask
                            id="lowAnalystPriceTarget"
                            class="crud-form"
                            formControlName="profitTakingPrice"
                            [(ngModel)]="modelObject.lowAnalystPriceTarget"
                            [style]="{'width':'70px'}"
                            maxLength="6"
                            placeholder="$"
                            mask="$9?99999">
                        </p-inputMask>
                    </div>
                </div>
            </p-fieldset>

            <!----------------------------------------------------------------------------------------------------------
            NEXT CATALYST DATE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="nextCatalystDate">Next Catalyst Date:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-calendar id="nextCatalystDate"
                                class="crud-form"
                                formControlName="nextCatalystDate"
                                dateFormat="mm/dd/yy"
                                [showIcon]="true"
                                [inputStyle]="{'width':'100px'}"
                                [(ngModel)]="modelObject.nextCatalystDate">
                    </p-calendar>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            NEXT CATALYST COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="nextCatalystComments">Next Catalyst Comments:</label>
                </div>
                <div class="ui-grid-col-9">
                    <input id="nextCatalystComments"
                           type="text"
                           pInputText
                           formControlName="nextCatalystComments"
                           [(ngModel)]="modelObject.nextCatalystComments">
                </div>
            </div>
            <!--
            RATING
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesRating">Rating:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-rating id="notesRating"
                              class="crud-form"
                              formControlName="notesRating"
                              [stars]="5"
                              [(ngModel)]="modelObject.notesRating">
                    </p-rating>
                </div>
            </div>
            <!--
            BULL OR BEAR
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="bullOrBear">Bull or Bear:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-selectButton id="bullOrBear"
                                    class="crud-form"
                                    formControlName="bullOrBear"
                                    [options]="bullOrBearOptions"
                                    [(ngModel)]="modelObject.bullOrBear">
                    </p-selectButton>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
