<div *ngIf="showDialog">
    <p-dialog header="Security Challenge from {{customerAccount.brokerage}}"
              [modal]="true"
              [closable]="true"
              [closeOnEscape]="true"
              [responsive]="true"
              [width]="400"
              [minWidth]="400"
              [minHeight]="150"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="showDialog">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <!----------------------------------------------------------------------------------------------------------
                There user needs to provide an answer or selection from multiple choices.  If the securityQuestionOptions has contents
                then it's multiple choice, otherwise it's single choice.
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-12">
                        <label class="crud-form" for="answer">{{authenticateResult.securityQuestion}}?</label>
                    </div>
                </div>
                <div class="crud-form ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div *ngIf="authenticateResult.securityQuestionOptions == null; then singleChoice else multipleChoice">
                        </div>
                        <ng-template #singleChoice>
                            <input id="answer"
                                   placeholder="Required"
                                   maxlength="30"
                                   required
                                   type="text"
                                   pInputText
                                   [(ngModel)]="answer"/>
                        </ng-template>
                        <ng-template #multipleChoice>
                            <p-listbox [options]="answers" [(ngModel)]="answer"></p-listbox>
                        </ng-template>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="crud-form ui-grid-row" style="text-align: center">
                    <div class="ui-grid-col-6">
                        <button class="crud-form-button"
                                pButton
                                type="button"
                                (click)="onOkButtonClick()"
                                label=" Ok"
                                style="min-width: 100px"
                                icon="fa-check">
                        </button>
                    </div>
                    <div class="ui-grid-col-6">
                        <button class="crud-form-button"
                                pButton
                                type="button"
                                (click)="onCancelButtonClick()"
                                label=" Cancel"
                                style="min-width: 100px"
                                icon="fa-close">
                        </button>
                    </div>
                </div>
            </p-footer>
    </p-dialog>
</div>
