<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <watch-list-table-buttons>
    </watch-list-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <watch-list-dialog>
    </watch-list-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <div *ngSwitchDefault>
            <crud-table-column-by-data-type [modelObject]="modelObject"
                                            [column]="column">
            </crud-table-column-by-data-type>
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<crud-table-layout [buttonsTemplate]="buttonsTemplate"
                   [columnsTemplate]="columnsTemplate"
                   [dialogTemplate]="dialogTemplate"
                   [modelObjectRows]="modelObjectRows"
                   [(displayColumns)]="displayColumns"
                   cookieContext="WatchList"
                   [defaultColumns]="defaultColumns"
                   [rowsToDisplay]="rowsToDisplay"
                   [rowsPerPageOptions]="rowsPerPageOptions"
                   [totalRecords]="totalRows"
                   [(selection)]="selectedModelObject"
                   (rowSelected)="onRowSelect($event)"
                   (rowUnselected)="onRowUnSelect($event)"
                   (onLazyLoad)="lazyLoadTable($event)"
                   [lazy]="false"
                   [loadingData]="loading"
                   [showHeaderButtons]="showHeaderButtons"
                   (onLazyLoadEvent)="lazyLoadTable($event)"
                   (onRowDblclick)="onRowDoubleClick($event)">
</crud-table-layout>
