<div *ngIf="isInitialized()">
    <form id="stockForm" [formGroup]="formGroup">
        <p-tabView id="tabView">
            <!--
            M A I N  T A B
            -->
            <p-tabPanel header="Main">
                <fieldset>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <!----------------------------------------------------------------------------------------------------------
                        STOCK SEARCH
                        ------------------------------------------------------------------------------------------------------------>
                        <div *ngIf="isCrudCreateOperation()" class="ui-grid-row">
                            <div class="ui-grid-col-3">
                            </div>
                            <div class="ui-grid-col-9">
                                NOTE: If you enter a ticker symbol and it does not show up in the list, press the tab key to
                                initiate a further search.
                            </div>
                        </div>
                        <div *ngIf="isCrudCreateOperation()" class="ui-grid-row crud-form">
                            <div class="crud-form-label ui-grid-col-3">
                                <label class="crud-form" for="stockSearch">Stock Search:</label>
                            </div>
                            <div class="ui-grid-col-9">
                                <stock-autocomplete id="stockSearch"
                                                    [(ngModel)]="modelObject.tickerSymbol"
                                                    [formGroup]="formGroup"
                                                    formControlName="tickerSymbol"
                                                    uppercase
                                                    (stockSelected)="onStockSelected( $event )">
                                </stock-autocomplete>
                            </div>
                        </div>

                        <selected-stock-companies>
                        </selected-stock-companies>

                        <!-- need to move this to the selected companies ... maybe -->
                        <div [hidden]="formGroup.controls['tickerSymbol'].valid" class="ui-grid-row">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isTickerSymbolInvalid()">
                                <i class="fa fa-close"></i>
                                Ticker Symbol is required
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------------------------------------
                        NUMBER OF SHARES
                        ------------------------------------------------------------------------------------------------------------>
                        <div class="ui-grid-row">
                            <div class="crud-form-label ui-grid-col-3">
                                <label class="crud-form" for="numberOfShares">Shares:</label>
                            </div>
                            <div class="ui-grid-col-9">
                                <p-inputMask
                                    id="numberOfShares"
                                    class="crud-form"
                                    formControlName="numberOfShares"
                                    [(ngModel)]="modelObject.numberOfShares"
                                    [style]="{'width':'60px'}"
                                    maxLength="6"
                                    placeholder=""
                                    mask="9?99999">
                                </p-inputMask>
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------------------------------------
                        AVG UNIT COST
                        ------------------------------------------------------------------------------------------------------------>
                        <div class="ui-grid-row">
                            <div class="crud-form-label ui-grid-col-3">
                                <label class="crud-form" for="averageUnitCostColumn">Avg Unit Cost:</label>
                            </div>
                            <div id="averageUnitCostColumn" class="ui-grid-col-9">
                                <input currencyMask
                                    formControlName="averageUnitCost"
                                    class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-default ui-state-filled"
                                    [(ngModel)]="modelObject.averageUnitCost"
                                    placeholder="$"/>
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------------------------------------
                        REALIZED GAINS
                        ------------------------------------------------------------------------------------------------------------>
                        <div class="ui-grid-row">
                            <div class="crud-form-label ui-grid-col-3">
                                <label class="crud-form" for="realizedGains">Realized Gains:</label>
                            </div>
                            <div class="ui-grid-col-9">
                                <p-inputMask
                                        id="realizedGains"
                                        class="crud-form"
                                        formControlName="realizedGains"
                                        [(ngModel)]="modelObject.realizedGains"
                                        [style]="{'width':'70px'}"
                                        maxLength="6"
                                        placeholder="$"
                                        unmask="true"
                                        mask="$9?99999">
                                </p-inputMask>
                            </div>
                        </div>

                        <!----------------------------------------------------------------------------------------------------------
                        REALIZED LOSSES
                        ------------------------------------------------------------------------------------------------------------>
                        <div class="ui-grid-row">
                            <div class="crud-form-label ui-grid-col-3">
                                <label class="crud-form" for="realizeLosses">Realized Losses:</label>
                            </div>
                            <div class="ui-grid-col-9">
                                <p-inputMask
                                        id="realizeLosses"
                                        class="crud-form"
                                        formControlName="realizedLosses"
                                        [(ngModel)]="modelObject.realizedLosses"
                                        [style]="{'width':'70px'}"
                                        maxLength="6"
                                        placeholder="$"
                                        unmask="true"
                                        mask="$9?99999">
                                </p-inputMask>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </p-tabPanel>
            <!--
            S T O P  L O S S  /  P R O F I T  T A K I N G
            -->
            <p-tabPanel header="Orders">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <!--
                    <div class="ui-grid-row">
                        <div class="crud-form-label ui-grid-col-2">
                            <label for="realizeLoss" for="sector">Sector:</label>
                        </div>
                        <div class="ui-grid-col-3">
                            <p-dropdown
                                    id="sector"
                                    class="crud-form"
                                    formControlName="sector"
                                    [style]="{'width':'175px', 'position':'fixed', 'z-index':'1000', 'overflow': 'visible'}"
                                    (onChange)="onStockSectorChange($event);"
                                    [options]="stockSectors"
                                    [(ngModel)]="modelObject.sector">
                            </p-dropdown>
                        </div>
                        <div class="crud-form-label ui-grid-col-3">
                            <label class="crud-form" for="subSector">Sub Sector:</label>
                        </div>
                        <div class="ui-grid-col-3">
                            <p-dropdown
                                    id="subSector"
                                    class="crud-form"
                                    formControlName="subSector"
                                    [style]="{'width':'175px', 'position':'fixed', 'z-index':'1001', 'overflow':'visible'}"
                                    [options]="stockSubSectors"
                                    [(ngModel)]="modelObject.subSector">
                            </p-dropdown>
                        </div>
                    </div> -->
                    <div class="ui-grid-row">
                        <br/>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                        </div>
                        <div class="ui-grid-col-10">
                            NOTE: The following information will be displayed when you view the stocks in your portfolio
                            so that you can quickly identify which stocks are protected by such orders and
                            those that are not.
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------
                    STOP LOSS PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <div class="ui-grid-row">
                        <div class="crud-form-label ui-grid-col-4">
                            <label class="crud-form" for="stopLossPrice">Stop Loss Price:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-inputMask
                                id="stopLossPrice"
                                class="crud-form"
                                formControlName="stopLossPrice"
                                [(ngModel)]="modelObject.stopLossPrice"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <!----------------------------------------------------------------------------------------------------------
                    STOP LOSS SHARES
                    ------------------------------------------------------------------------------------------------------------>
                    <div class="ui-grid-row">
                        <div class="crud-form-label ui-grid-col-4">
                            <label class="crud-form" for="stopLossShares">Stop Loss Shares:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-inputMask
                                id="stopLossShares"
                                class="crud-form"
                                formControlName="stopLossShares"
                                [(ngModel)]="modelObject.stopLossShares"
                                [style]="{'width':'60px'}"
                                maxLength="6"
                                placeholder=""
                                mask="9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <!----------------------------------------------------------------------------------------------------------
                    PROFIT TAKING PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <div class="ui-grid-row">
                        <div class="crud-form-label ui-grid-col-4">
                            <label class="crud-form" for="profitTakingPrice">Profit Taking Price:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-inputMask
                                id="profitTakingPrice"
                                class="crud-form"
                                formControlName="profitTakingPrice"
                                [(ngModel)]="modelObject.profitTakingPrice"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <!----------------------------------------------------------------------------------------------------------
                    PROFIT TAKING SHARES
                    ------------------------------------------------------------------------------------------------------------>
                    <div class="ui-grid-row">
                        <div class="crud-form-label ui-grid-col-4">
                            <label class="crud-form" for="profitTakingShares">Profit Taking Shares:</label>
                        </div>
                        <div class="ui-grid-col-8">
                            <p-inputMask
                                id="profitTakingShares"
                                class="crud-form"
                                formControlName="profitTakingShares"
                                [(ngModel)]="modelObject.profitTakingShares"
                                [style]="{'width':'60px'}"
                                maxLength="6"
                                placeholder=""
                                mask="9?99999">
                            </p-inputMask>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>
