<div *ngIf="isInitialized()">
    <p-dialog header="Portfolio - {{portfolio.name}}"
                         [modal]="true"
                         [closable]="false"
                         [closeOnEscape]="false"
                         [responsive]="true"
                         [width]="600"
                         [height]="500"
                         [minWidth]="600"
                         [minHeight]="500"
                         [resizable]="false"
                         [(visible)]="displayDialog">

        <portfolio-stock-form [portfolio]="portfolio">
        </portfolio-stock-form>

        <p-footer>
            <portfolio-stock-form-buttons [portfolio]="portfolio">
            </portfolio-stock-form-buttons>
        </p-footer>
    </p-dialog>
</div>
