<div id="customerAccountTableDiv" ngStyle="">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-dataTable [value]="rows"
                             [ngClass]="{'editing-table': crudOperation != CrudOperation.NONE }"
                             selectionMode="single"
                             [(selection)]="selectedModelObject"
                             (onRowSelect)="onRowSelect($event)"
                             (onRowUnselect)="onRowUnSelect($event)"
                             [totalRecords]="totalRows"
                             [loading]="loading"
                             (onRowDblclick)="onRowDoubleClick($event)"
                             [responsive]="true">

                    <p-header>
                        <stock-position-table-buttons>
                        </stock-position-table-buttons>
                    </p-header>
                    <!--
                    public tickerSymbol: string = undefined;
                    public symbolClass: string = undefined;
                    public costBasis: number = undefined;
                    public holdingType: string = undefined;
                    public quantity: number = undefined;
                    public todayGainLossDollar: number = undefined;
                    public todayGainLossPercentage: number = undefined;
                    public totalGainLossDollar: number = undefined;
                    public totalGainLossPercentage: number = undefined;
                    -->
                    <!----------------------------------------------------------------------------------------------------------
                    TICKER SYMBOL
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="tickerSymbolColumn"
                              field="tickerSymbol"
                              header="Ticker"
                              [style]="{'width':'80px'}"
                              [sortable]="true">
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    QUANTITY
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="quantity"
                              field="quantity"
                              header="Shares"
                              [style]="{'width':'80px','text-align':'right'}">
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    LAST PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="lastPrice"
                              field="lastPrice"
                              header="Last Price"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <stock-quote-last-price [stockQuote]="stockPosition">
                            </stock-quote-last-price>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    OPEN PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="openPrice"
                              field="openPrice"
                              header="Open Price"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <currency [currencyValue]="stockPosition[col.field]">
                            </currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    CLOSE PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="closePrice"
                              field="closePrice"
                              header="Close Price"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <currency [currencyValue]="stockPosition[col.field]">
                            </currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    LAST PRICE DATE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="lastPriceChangeColumn"
                              field="lastPriceChange"
                              header="Last Price Change "
                              [style]="{'width':'80px'}"
                              [sortable]="true">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            {{stockPosition[col.field] | date: 'y-MM-dd h:mm a' }}
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    TODAY GAIN/LOSS PERCENTAGE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="todayGainLossDollar"
                              field="todayGainLossDollar"
                              header="Today GL$"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <gain-loss-currency [currencyValue]="stockPosition[field]"></gain-loss-currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    TODAY GAIN/LOSS DOLLARS
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="todayGainLossPercentage"
                              field="todayGainLossPercentage"
                              header="Today GL%"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <gain-loss-percent [percentValue]="stockPosition[field]"></gain-loss-percent>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    TOTAL GAIN/LOSS DOLLARS
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="totalGainLossDollar"
                              field="totalGainLossDollar"
                              header="Total GL$"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <gain-loss-currency [currencyValue]="stockPosition[field]"></gain-loss-currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    TOTAL GAIN/LOSS DOLLARS
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="totalGainLossPercentage"
                              field="totalGainLossPercentage"
                              header="Today GL%"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <gain-loss-percent [percentValue]="stockPosition[field]"></gain-loss-percent>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    AVG UPSIDE PERCENTAGE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="avgUpsidePercent"
                              header="Avg Upside"
                              [style]="{'width':'40px','text-align':'right'}"
                              [sortable]="true">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <stock-quote-average-upside-percent [stockQuote]="stockPosition"></stock-quote-average-upside-percent>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    ANALYST BUY COUNT
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id=""
                              field="analystByCount"
                              header="Analyst BSH"
                              [style]="{'width':'80px'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <stock-analyst-consensus [stockAnalystConsensus]="stockPosition"></stock-analyst-consensus>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    HIGH ANALYST PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="highAnalystPrice"
                              field="highAnalystPriceTarget"
                              header="High Analyst PT"
                              [style]="{'width':'40px','text-align':'right'}"
                              [sortable]="false">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <currency [currencyValue]="stockPosition[col.field]"></currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    AVG ANALYST PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="avgAnalystPrice"
                              field="avgAnalystPriceTarget"
                              header="Avg Analyst PT"
                              [style]="{'width':'40px','text-align':'right'}"
                              [sortable]="false">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <currency [currencyValue]="stockPosition[col.field]"></currency>
                        </ng-template>
                    </p-column>

                    <!----------------------------------------------------------------------------------------------------------
                    LOW ANALYST PRICE
                    ------------------------------------------------------------------------------------------------------------>
                    <p-column id="lowAnalystPrice"
                              field="lowAnalystPriceTarget"
                              header="Low Analyst PT"
                              [style]="{'width':'40px','text-align':'right'}"
                              [sortable]="false">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <currency [currencyValue]="stockPosition[col.field]"></currency>
                        </ng-template>
                    </p-column>
                    <!----------------------------------------------------------------------------------------------------------
                    PERCENT OF CHANGE
                    ------------------------------------------------------------------------------------------------------------>
                    <!--
                    <p-column id="percentChange"
                              field="percentChange"
                              header="% Change Since Entered"
                              [style]="{'width':'80px','text-align':'right'}">
                        <ng-template let-col let-stockPosition="rowData" pTemplate="body">
                            <div class="positiveGain" *ngIf="calculatePercentChange( stockPosition ) >= 0.0">
                                {{calculatePercentChange( stockPosition ) | percent: '1.2-2' }}
                            </div>
                            <div class="negativeGain" *ngIf="calculatePercentChange( stockPosition ) < 0.0">
                                {{calculatePercentChange( stockPosition ) | percent: '1.2-2' }}
                            </div>
                        </ng-template>
                    </p-column>
                    -->

                    <p-footer>
                        <stock-position-table-buttons>
                        </stock-position-table-buttons>
                    </p-footer>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
