<div *ngIf="!isCrudNoneOperation()">
    <p-dialog header="Stock Catalyst Event"
              [modal]="modal"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="800"
              [height]="600 "
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <stock-catalyst-event-form>
                </stock-catalyst-event-form>
            </div>
            <p-footer>
                <stock-catalyst-event-form-buttons>
                </stock-catalyst-event-form-buttons>
            </p-footer>
    </p-dialog>
</div>
