<div *ngIf="!isCrudNoneOperation()">
    <form [formGroup]="formGroup">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            SEARCH
            ------------------------------------------------------------------------------------------------------------>
            <stock-search-selected-companies [(ngModel)]="modelObject.tickerSymbol"
                                             [tickerSymbol]="modelObject.tickerSymbol">
            </stock-search-selected-companies>

            <!----------------------------------------------------------------------------------------------------------
            CATALYST DATE or TIME PERIOD
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="dateOrTimePeriod">Date or Time Period:</label>
                </div>
                <div class="crud-form-label ui-grid-col-10">
                    <p-selectButton id="dateOrTimePeriod"
                                    class="crud-form"
                                    formControlName="dateOrTimePeriod"
                                    (onChange)="onDateOrTimePeriodChange($event)"
                                    [options]="dateOrTimePeriodOptions">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            CATALYST DATE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="catalystDate">Catalyst Date:</label>
                </div>
                <div class="ui-grid-col-3">
                    <p-calendar id="catalystDate"
                                [ngClass]="{'ui-state-disabled': isTimePeriod(),
                                            'ui-state-default': !isTimePeriod() }"
                                class="crud-form"
                                formControlName="catalystDate"
                                dateFormat="yy-mm-dd"
                                [showIcon]="true"
                                [(ngModel)]="modelObject.catalystDate">
                    </p-calendar>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            CATALYST TIME PERIOD
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="timePeriod">Time Period:</label>
                </div>
                <div class="crud-form-label ui-grid-col-10">
                    <p-selectButton id="timePeriod"
                                    [ngClass]="{'ui-state-disabled': !isTimePeriod(),
                                                'ui-state-default': isTimePeriod() }"
                                    class="crud-form"
                                    formControlName="timePeriod"
                                    [(ngModel)]="modelObject.timePeriod"
                                    [options]="timePeriodOptions">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            CATALYST TIME PERIOD YEAR
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="timePeriodYear">Time Period Year:</label>
                </div>
                <div class="crud-form-label ui-grid-col-10">
                    <p-selectButton id="timePeriodYear"
                                    [ngClass]="{'ui-state-disabled': !isTimePeriod(),
                                                'ui-state-default': isTimePeriod() }"
                                    class="timePeriod-form"
                                    formControlName="timePeriodYear"
                                    [(ngModel)]="modelObject.timePeriodYear"
                                    [options]="timePeriodYearOptions">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            CATALYST DESCRIPTION
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="catalystDesc">Catalyst Description:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-editor id="catalystDesc"
                              name="basic"
                              [style]="{'height':'120px'}"
                              styleClass="editor-dimensions"
                              class="crud-form"
                              formControlName="catalystDesc"
                              [(ngModel)]="modelObject.catalystDesc"
                              maxlength="1000"
                              required>
                    </p-editor>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
