<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <stock-catalyst-event-table-buttons>
    </stock-catalyst-event-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <stock-catalyst-event-dialog>
    </stock-catalyst-event-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
CUSTOM STOCK TO BUY COLUMNS TEMPLATE
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <!----------------------------------------------------------------------------------------------------------
        DATE OR TIME PERIOD
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'dateOrTimePeriod'">
            <dateOrTimePeriod [stockCatalystEvent]="modelObject">
            </dateOrTimePeriod>
        </div>

        <div *ngSwitchDefault>
            <stock-model-object-common-columns [modelObject]="modelObject"
                                               [column]="column">
            </stock-model-object-common-columns>
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<stock-model-object-table-layout [buttonsTemplate]="buttonsTemplate"
                                 [columnsTemplate]="columnsTemplate"
                                 [dialogTemplate]="dialogTemplate"
                                 [displayStockSearchFilter]="displayStockSearchFilter"
                                 cookieContext="{{getCookieContext()}}"
                                 [modelObjectRows]="modelObjectRows"
                                 [(displayColumns)]="displayColumns"
                                 [defaultColumns]="defaultColumns"
                                 [additionalColumns]="additionalColumns"
                                 [totalRecords]="totalRows"
                                 [rowsToDisplay]="rowsToDisplay"
                                 [rowsPerPageOptions]="rowsPerPageOptions"
                                 [(selection)]="selectedModelObject"
                                 (rowSelected)="onRowSelect($event)"
                                 (onLazyLoad)="lazyLoadTable($event)"
                                 [lazy]="true"
                                 [loadingData]="loading"
                                 [showHeaderButtons]="showHeaderButtons"
                                 [displayStockSearchFilter]="displayStockSearchFilter"
                                 (stockSelected)="onStockSelected($event)"
                                 (onRowDblclick)="onRowDoubleClick($event)">
</stock-model-object-table-layout>
