<p-panel header="Portfolio Stocks">
    <p-dataTable [value]="rows"
                 selectionMode="single"
                 [(selection)]="modelObject"
                 (onRowSelect)="onRowSelect($event)"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[20,30,40]"
                 [rows]="25"
                 (onRowDblclick)="onRowDoubleClick($event)"
                 [responsive]="true">

        <header>{{title}}</header>
        <p-column field="tickerSymbol" header="Ticker" [sortable]="true"></p-column>
        <p-column field="numberOfShares" header="Shares" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="lastPrice" header="Last Price" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="costBasis" header="Cost Basis" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="realizedGain" header="Gains" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="realizedLoss" header="Loss" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="stopLossPrice" header="SL Price" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="stopLossShares" header="SL Shares" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="profitTakingPrice" header="PT Price" styleClass="text-right" [sortable]="true"></p-column>
        <p-column field="profitTakingShares" header="PT Shares" styleClass="text-right" [sortable]="true"></p-column>
        <p-footer>
            <portfolio-stock-table-buttons [portfolio]="portfolio">
            </portfolio-stock-table-buttons>
        </p-footer>
    </p-dataTable>
    <portfolio-stock-dialog [portfolio]="portfolio">
    </portfolio-stock-dialog>
</p-panel>
