<div *ngIf="modelObject">
    <p-dialog header="Portfolio Stock Detail"
                         [modal]="true"
                         [closable]="false"
                         [closeOnEscape]="false"
                         [responsive]="true"
                         [width]="600"
                         [height]="500"
                         [minWidth]="600"
                         [minHeight]="500"
                         [resizable]="false"
                         [(visible)]="displayDialog">

        <portfolio-stock-form>
        </portfolio-stock-form>

        <footer>
            <portfolio-stock-form-buttons [portfolio]="portfolio">
            </portfolio-stock-form-buttons>
        </footer>
    </p-dialog>
</div>
