<div *ngIf="dataLoaded">
    <p-growl [value]="messages" sticky="true"></p-growl>
    <form id="stockForm" [formGroup]="crudForm">
        <p-tabView id="tabView">
            <!--
            M A I N  T A B
            -->
            <p-tabPanel header="Main">
                <p-fieldset >
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                       <!-- <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <i>Enter your ticker symbol directly or enter the company name</i>
                            </div>
                        </div>-->
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Stock Search</label>
                            </div>
                            <div class="ui-grid-col-10">
                                <p-autoComplete [(ngModel)]="stockSearch"
                                                formControlName="stockSearch"
                                                [suggestions]="stockSearchResults"
                                                [minLength]="1"
                                                (completeMethod)="onStockSearch( $event )"
                                                (onSelect)="onStockSearchSelected( $event )"
                                                uppercase
                                                placeholder="Enter company name of ticker symbol">
                                </p-autoComplete>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Ticker Symbol:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                {{modelObject.tickerSymbol}}
                                <!--<input id="tickerSymbol"
                                   formControlName="tickerSymbol"
                                   placeholder="Required"
                                   size="5"
                                   type="text"
                                   pInputText required uppercase
                                   [(ngModel)]="portfolioStock.tickerSymbol"/>-->
                            </div>
                        </div>
                        <div [hidden]="crudForm.controls['tickerSymbol'].valid" class="ui-grid-row">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="isTickerSymbolInvalid()">
                                <i class="fa fa-close"></i>
                                Ticker Symbol is required
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Company Name:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                {{modelObject.companyName}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Last Price:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                {{modelObject.lastPrice}}
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Shares:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                <p-inputMask
                                    id="numberOfShares"
                                    formControlName="numberOfShares"
                                    [(ngModel)]="modelObject.numberOfShares"
                                    [style]="{'width':'60px'}"
                                    maxLength="6"
                                    placeholder=""
                                    mask="9?99999">
                                </p-inputMask>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Cost Basis:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                <p-inputMask
                                    formControlName="costBasis"
                                    [(ngModel)]="modelObject.costBasis"
                                    [style]="{'width':'70px'}"
                                    maxLength="6"
                                    placeholder="$"
                                    mask="$9?99999">
                                </p-inputMask>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Sector:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                <p-dropdown
                                    formControlName="sector"
                                    [style]="{'width':'175px', 'position':'fixed', 'z-index':'1000'}"
                                    (onChange)="onStockSectorChange($event);"
                                    [options]="stockSectors"
                                    [(ngModel)]="modelObject.sector">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                <label>Sub Sector:</label>
                            </div>
                            <div class="ui-grid-col-10">
                                <p-dropdown
                                    formControlName="subSector"
                                    [style]="{'width':'175px', 'position':'fixed', 'z-index':'1000'}"
                                    [options]="stockSubSectors"
                                    [(ngModel)]="modelObject.subSector">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </p-tabPanel>
            <!--
            G A I N / L O S S  T A B
            -->
            <p-tabPanel header="Gain/Loss">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Realized Gain:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                formControlName="realizedGain"
                                [(ngModel)]="modelObject.realizedGain"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Realized Loss:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                formControlName="realizedLoss"
                                [(ngModel)]="modelObject.realizedLoss"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <!--
            S T O P  L O S S  /  P T O F I T  T A K I N G
            -->
            <p-tabPanel header="Stop Loss/Profit Taking">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Stop Loss Price:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                formControlName="stopLossPrice"
                                [(ngModel)]="modelObject.stopLossPrice"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Stop Loss Shares:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                id="stopLossShares"
                                formControlName="stopLossShares"
                                [(ngModel)]="modelObject.stopLossShares"
                                [style]="{'width':'60px'}"
                                maxLength="6"
                                placeholder=""
                                mask="9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Profit Taking Price:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                formControlName="profitTakingPrice"
                                [(ngModel)]="modelObject.profitTakingPrice"
                                [style]="{'width':'70px'}"
                                maxLength="6"
                                placeholder="$"
                                mask="$9?99999">
                            </p-inputMask>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <label>Profit Taking Shares:</label>
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask
                                id="profitTakingShares"
                                formControlName="profitTakingShares"
                                [(ngModel)]="modelObject.profitTakingShares"
                                [style]="{'width':'60px'}"
                                maxLength="6"
                                placeholder=""
                                mask="9?99999">
                            </p-inputMask>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>
