<p-panel id="stockNotesPanelDiv" header="Stock Catalyst Events">
    <div id="stockNotesTableDiv">
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="modelObject"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnSelect($event)"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[20,30,40]"
                     [rows]="25"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [responsive]="true">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tickerSymbol"
                      field="tickerSymbol"
                      header="Ticker"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="companyName"
                      field="companyName"
                      header="Company Name"
                      [style]="{'width':'150px'}"
                      [sortable]="false">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            CATALYST DATE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="catalystDate"
                      field="catalystDate"
                      header="Date"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockCatalystEvent="rowData" pTemplate="body">
                    {{stockCatalystEvent[col.field] | date: 'shortDate' }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            CATALYST DESCRIPTION
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="catalystDesc"
                      field="catalystDesc"
                      header="Description"
                      [sortable]="false">
            </p-column>

            <p-footer>
                <stock-catalyst-event-table-buttons>
                </stock-catalyst-event-table-buttons>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
<stock-catalyst-event-dialog>
</stock-catalyst-event-dialog>
