<p-panel id="stockToBuyPanelDiv" header="Stock ToBuy">
    <div id="stockToBuyTableDiv">
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="selectedModelObject"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnSelect($event)"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[20,30,40]"
                     [rows]="20"
                     [loading]="loading"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [responsive]="true">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tickerSymbol"
                      field="tickerSymbol"
                      header="Ticker"
                      [style]="{'width':'10px'}"
                      [sortable]="true">
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            COMPANY NAME
            ------------------------------------------------------------------------------------------------------------>
            <!--
            <p-column id="companyName"
                      field="companyName"
                      header="Company Name"
                      [style]="{'width':'150px'}"
                      [sortable]="false">
            </p-column>
            -->
            <!----------------------------------------------------------------------------------------------------------
            BUY SHARES BELOW
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="buySharesBelow"
                      field="buySharesBelow"
                      header="Buy Below Price"
                      [style]="{'width':'10px','text-align':'right'}">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    <span [ngClass]="{'buy': stockToBuy && stockToBuy['lastPrice'] < stockToBuy[col.field]}">
                        {{stockToBuy[col.field] | currency: 'USD' : true }}
                    </span>
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            STOCK PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="stockPrice"
                      field="stockPrice"
                      header="Price When Entered"
                      [style]="{'width':'10px','text-align':'right'}">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    {{stockToBuy[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="lastPrice"
                      field="lastPrice"
                      header="Last Price"
                      [style]="{'width':'10px','text-align':'right'}">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    {{stockToBuy[col.field] | currency: 'USD' : true }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            DATE CREATED
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="createDate"
                      field="createDate"
                      header="Date Created"
                      [style]="{'width':'20px','text-align':'right'}"
                      [sortable]="true">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    {{stockToBuy[col.field] | date: 'y-MM-dd' }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            TAGS
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="tags"
                      field="tags"
                      header="Tags"
                      [style]="{'width':'40px'}"
                      [sortable]="true">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    {{stockToBuy[col.field] }}
                </ng-template>
            </p-column>
            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <p-column id="comments"
                      field="comments"
                      header="Comments"
                      [style]="{'width':'150px'}">
                <ng-template let-col let-stockToBuy="rowData" pTemplate="body">
                    <div *ngIf="urlMap.getURL( stockToBuy.tickerSymbol ) == null " >{{stockToBuy[col.field]}}</div>
                    <div *ngIf="urlMap.getURL( stockToBuy.tickerSymbol ) != null " >
                        <a href="{{urlMap.getURL( stockToBuy.tickerSymbol )}}" target="_blank">{{urlMap.getURL( stockToBuy.tickerSymbol )}}</a>
                    </div>
                </ng-template>
            </p-column>

            <p-footer>
                <stock-to-buy-table-buttons>
                </stock-to-buy-table-buttons>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
<stock-to-buy-dialog>
</stock-to-buy-dialog>
