<div *ngIf="isInitialized()">
    <form [formGroup]="formGroup">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <stock-search-selected-companies (stockSelected)="onStockSelected($event)"
                                             [maxStocks]="1"
                                             [tickerSymbol]="modelObject.tickerSymbol">
            </stock-search-selected-companies>
            <!----------------------------------------------------------------------------------------------------------
            COMMENTS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="comments">Comments:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-editor id="comments"
                              name="basic"
                              [style]="{'height':'120px'}"
                              styleClass="editor-dimensions"
                              class="crud-form"
                              formControlName="comments"
                              [(ngModel)]="modelObject.comments"
                              maxlength="4000">
                    </p-editor>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            SOURCE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesSourceId">Source:</label>
                </div>
                <div class="ui-grid-col-9">
                    <stock-notes-source id="notesSourceId"
                                        formControlName="notesSourceId"
                                        [(ngModel)]="modelObject.notesSourceId">
                    </stock-notes-source>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ANALYST STRONG BUY COUNT
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="analystStrongBuyCount">Strong Buy:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="analystStrongBuyCount"
                        class="crud-form"
                        formControlName="analystStrongBuyCount"
                        [(ngModel)]="modelObject.analystStrongBuyCount"
                        [style]="{'float':'left','width':'20px'}"
                        maxLength="1"
                        placeholder=""
                        mask="9?9">
                    </p-inputMask>
                    <p-slider id="analystStrongBuyCountSlider"
                              class="crud-form slider"
                              styleClass="input-width"
                              formControlName="analystStrongBuyCount"
                              [(ngModel)]="modelObject.analystStrongBuyCount"
                              [min]="0"
                              [max]="9"
                              [step]="1"
                              [animate]="true">
                    </p-slider>
                    <!--
                    <mat-slider id="analystBuyCount"
                                class="crud-form"
                                formControlName="analystBuyCount"
                                [(ngModel)]="modelObject.analystBuyCount"
                                thumbLabel="true"
                                displayValue="true"
                                [min]="0"
                                [max]="9"
                                [step]="1"
                                [tickInterval]="1">
                    </mat-slider> -->
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ANALYST BUY COUNT
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="analystBuyCount">Buy:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="analystBuyCount"
                        class="crud-form"
                        formControlName="analystBuyCount"
                        [(ngModel)]="modelObject.analystBuyCount"
                        [style]="{'float':'left','width':'20px'}"
                        maxLength="1"
                        placeholder=""
                        mask="9?9">
                    </p-inputMask>
                    <p-slider id="analystBuyCountSlider"
                              class="crud-form slider"
                              styleClass="input-width"
                              formControlName="analystBuyCount"
                              [(ngModel)]="modelObject.analystBuyCount"
                              [min]="0"
                              [max]="9"
                              [step]="1"
                              [animate]="true">
                    </p-slider>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ANALYST HOLD
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="analystHoldCount">Hold:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="analystHoldCount"
                        class="crud-form"
                        formControlName="analystHoldCount"
                        [(ngModel)]="modelObject.analystHoldCount"
                        [style]="{'float':'left','width':'20px'}"
                        maxLength="1"
                        placeholder=""
                        mask="9?9">
                    </p-inputMask>
                    <p-slider id="analystHoldCountSlider"
                              class="crud-form slider"
                              styleClass="input-width"
                              formControlName="analystHoldCount"
                              [(ngModel)]="modelObject.analystHoldCount"
                              [min]="0"
                              [max]="9"
                              [step]="1"
                              [animate]="true">
                    </p-slider>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ANALYST UNDER PERFORM
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="analystUnderPerformCount">Under Perform:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="analystUnderPerformCount"
                        class="crud-form"
                        formControlName="analystUnderPerformCount"
                        [(ngModel)]="modelObject.analystUnderPerformCount"
                        [style]="{'float':'left','width':'20px'}"
                        maxLength="1"
                        placeholder=""
                        mask="9?9">
                    </p-inputMask>
                    <p-slider id="analystUnderPerformCountSlider"
                              class="crud-form slider"
                              styleClass="input-width"
                              formControlName="analystUnderPerformCount"
                              [(ngModel)]="modelObject.analystUnderPerformCount"
                              [min]="0"
                              [max]="9"
                              [step]="1"
                              [animate]="true">
                    </p-slider>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ANALYST SELL
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="analystSellCount">Sell:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="analystSellCount"
                        class="crud-form"
                        formControlName="analystSellCount"
                        [(ngModel)]="modelObject.analystSellCount"
                        [style]="{'float':'left','width':'20px'}"
                        maxLength="1"
                        placeholder=""
                        mask="9?9">
                    </p-inputMask>
                    <p-slider id="analystSellCountSlider"
                              class="crud-form slider"
                              styleClass="input-width"
                              formControlName="analystSellCount"
                              [(ngModel)]="modelObject.analystSellCount"
                              [min]="0"
                              [max]="9"
                              [step]="1"
                              [animate]="true">
                    </p-slider>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            HIGH Analyst Price Target
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="highAnalystPriceTarget">High Price Target:</label>
                </div>
                <div class="ui-grid-col-2">
                    <input currencyMask
                           id="highAnalystPriceTarget"
                           formControlName="highAnalystPriceTarget"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-default ui-state-filled"
                           [(ngModel)]="modelObject.highAnalystPriceTarget"
                           placeholder="$"/>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            AVERAGE Analyst Price Target
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="avgAnalystPriceTarget">Avg Price Target:</label>
                </div>
                <div class="ui-grid-col-2">
                    <input currencyMask
                           id="avgAnalystPriceTarget"
                           formControlName="avgAnalystPriceTarget"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-default ui-state-filled"
                           [(ngModel)]="modelObject.avgAnalystPriceTarget"
                           placeholder="$"/>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            LOW Analyst Price Target
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="lowAnalystPriceTarget">Low Price Target:</label>
                </div>
                <div class="ui-grid-col-2">
                    <input currencyMask
                           id="lowAnalystPriceTarget"
                           formControlName="lowAnalystPriceTarget"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-default ui-state-filled"
                           [(ngModel)]="modelObject.lowAnalystPriceTarget"
                           placeholder="$"/>
                </div>
            </div>
        </div>
            <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
