
.rowStyle
{
    max-height: 60px;
}

::ng-deep .ui-datatable-scrollable-view .ui-datatable-scrollable-body
{
    max-height: 100px;
    border: 1px solid #D5D5D5;
}

span.strongBuy
{
    background: darkgreen;
    width: 20%;
    text-align: center;
    display: inline-block;
}

span.buy
{
    background: green;
    width: 20%;
    text-align: center;
    display: inline-block;
}

span.hold
{
    background: yellow;
    color: black;
    width: 20%;
    text-align: center;
    display: inline-block;
}

span.underPerform
{
    background: red;
    width: 20%;
    text-align: center;
    display: inline-block;
}

span.sell
{
    background: darkred;
    width: 20%;
    text-align: center;
    display: inline-block;
}

