<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <stock-analyst-consensus-table-buttons>
    </stock-analyst-consensus-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <stock-analyst-consensus-dialog>
    </stock-analyst-consensus-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
CUSTOM STOCK ANALYST CONSENSUS COLUMNS TEMPLATE
column and modelObject are parameters to the template
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <div [ngSwitch]="column.colId">
        <!----------------------------------------------------------------------------------------------------------
        TICKER SYMBOL
        ------------------------------------------------------------------------------------------------------------>
        <div *ngSwitchCase="'tickerSymbol'">
            <yahoo-analysis-link [tickerSymbol]="modelObject.tickerSymbol"
                           [displayValue]="modelObject.tickerSymbol">
            </yahoo-analysis-link>
        </div>

        <div *ngSwitchDefault>
            <stock-model-object-common-columns [modelObject]="modelObject"
                                               [column]="column">
            </stock-model-object-common-columns>
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
<stock-model-object-table-layout [buttonsTemplate]="buttonsTemplate"
                                 [columnsTemplate]="columnsTemplate"
                                 [dialogTemplate]="dialogTemplate"
                                 cookieContext="{{getCookieContext()}}"
                                 [modelObjectRows]="modelObjectRows"
                                 [(displayColumns)]="displayColumns"
                                 [defaultColumns]="defaultColumns"
                                 [additionalColumns]="additionalColumns"
                                 [totalRecords]="totalRows"
                                 [rowsToDisplay]="rowsToDisplay"
                                 [rowsPerPageOptions]="rowsPerPageOptions"
                                 [(selection)]="selectedModelObject"
                                 (rowSelected)="onRowSelect($event)"
                                 (onLazyLoad)="lazyLoadTable($event)"
                                 [loadingData]="loading"
                                 [showHeaderButtons]="showHeaderButtons"
                                 [displayStockSearchFilter]="displayStockSearchFilter"
                                 [lazy]="true"
                                 (resetButtonClicked)="resetTable()"
                                 (stockSelected)="onStockSelected($event)"
                                 (onLazyLoadEvent)="lazyLoadTable($event)"
                                 (onRowDblclick)="onRowDoubleClick($event)">
</stock-model-object-table-layout>
