
#app-title {
    color: #2399e5;
}

#header {
    height: 100px;
}

#title {
    color: #BBBBBB;
}

#menu-bar {
}

#left-navigation {
    float: left;
    border: solid;
}

#router-outlet {
    border: solid;
}

