<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12" id="header">
            <h1 align="center" id="app-title">{{title}}</h1>
            <menu-bar></menu-bar>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <div class="ui-grid-col-2" id="left-navigation">
                <ul>
                    <li class="bgcolor221D1D">
                        bgColor221D1D
                    </li>

                    <li class="bg-highlight-color" >
                        bg-highlight-color
                    </li>

                    <li class="bg-color">
                        bg-color
                    </li>

                    <li class="bgcolor323435">
                        bgColor323435
                    </li>

                    <li class="bgcolor2399e5">
                        bgColor2399e5
                    </li>

                    <li class="bgcolor4D4D4D">
                        bgColor4d4d4d
                    </li>

                    <li class="bg-color title">
                        title
                    </li>

                </ul>
            </div>
            <div class="ui-grid-col-10" id="router-outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

