<p-panel>
    <!----------------------------------------------------------------------------------------------------------
    ALLOW THE FILTER TO BE DEFINED BY THE USER OF THIS TEMPLATE
    ------------------------------------------------------------------------------------------------------------>
    <ng-container *ngTemplateOutlet="filterTemplate">
    </ng-container>

    <!----------------------------------------------------------------------------------------------------------
    ALLOW THE HEADER TO BE DEFINED BY THE USER OF THIS TEMPLATE
    ------------------------------------------------------------------------------------------------------------>
    <p-header *ngIf="showHeaderButtons">
        <ng-container *ngTemplateOutlet="buttonsTemplate">
        </ng-container>
    </p-header>

    <!----------------------------------------------------------------------------------------------------------
    DEFINE THE TABLE
    ------------------------------------------------------------------------------------------------------------>
    <p-table class="ui-table"
             [value]="modelObjectRows"
             [columns]="displayColumns"
             [rows]="rowsToDisplay"
             [autoLayout]="autoLayout"
             [dataKey]="dataKey"
             [(selection)]="selectedModelObject"
             [paginator]="paginator"
             [pageLinks]="pageLinks"
             [rowsPerPageOptions]="rowsPerPageOptions"
             [totalRecords]="totalRecords"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnSelect)="onRowUnSelect($event)"
             selectionMode="single"
             (onLazyLoad)="onLazyLoad($event)"
             [lazy]="lazy"
             [loading]="loadingData"
             [resizableColumns]="resizableColumns"
             [reorderableColumns]="reorderableColumns"
             [scrollable]="scrollable"
             [scrollHeight]="scrollHeight"
             [responsive]="responsive">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-modelObject let-columns="columns">
            <tr [pSelectableRow]="modelObject">
                <td *ngFor="let column of columns">
                    <!--
                    Display the crudTableColumns.  Pass the model object and the column to the template
                    -->
                    <ng-container *ngTemplateOutlet="columnsTemplate; context: {modelObject: modelObject, column: column}">
                    </ng-container>
                </td>
            </tr>
        </ng-template>

        <ng-template *ngIf="showCustomizeButton" pTemplate="footer" let-columns>
            <crud-table-customize-button (buttonClick)="customizeColumns()">
            </crud-table-customize-button>
        </ng-template>
    </p-table>

    <!----------------------------------------------------------------------------------------------------------
    ALLOW THE DIALOG TO BE DEFINED BY THE USER OF THIS TEMPLATE
    ------------------------------------------------------------------------------------------------------------>
    <ng-container *ngTemplateOutlet="dialogTemplate">
    </ng-container>

    <!----------------------------------------------------------------------------------------------------------
    THE COLUMN CUSTOMIZER IS USED ON ALL TABLES
    ------------------------------------------------------------------------------------------------------------>
    <crud-table-column-selector-dialog>
    </crud-table-column-selector-dialog>

    <!----------------------------------------------------------------------------------------------------------
    BUTTONS ARE REPEATED
    ------------------------------------------------------------------------------------------------------------>
    <p-footer>
        <div *ngIf="showFooterButtons">
            <ng-container *ngTemplateOutlet="buttonsTemplate">
            </ng-container>
        </div>
    </p-footer>
</p-panel>
