<div style="text-align: center">
    <ng-template #editButton></ng-template>
    <ng-template #addButton></ng-template>
    <ng-template #deleteButton></ng-template>
    <ng-template #refeshButton></ng-template>

    <ng-container *ngTemplateOutlet="editButtonTemplate">
    </ng-container>
    <ng-container *ngTemplateOutlet="addButtonTemplate">
    </ng-container>
    <ng-container *ngTemplateOutlet="deleteButtonTemplate">
    </ng-container>
    <ng-container *ngTemplateOutlet="refreshButtonTemplate">
    </ng-container>
</div>
