<div *ngIf="!isCrudNoneOperation()">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;">
            <!----------------------------------------------------------------------------------------------------------
            ACCOUNT NAME
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                    <label style="float: right" for="accountName">Account Name:</label>
                </div>
                <div class="ui-grid-col-8">
                    <input id="accountName"
                           formControlName="accountName"
                           placeholder="Required"
                           maxlength="20"
                           required
                           type="text"
                           pInputText
                           [ngClass]="{'ui-state-disabled': isModelObjectReadOnly()}"
                           [(ngModel)]="modelObject.accountName"/>
                </div>
            </div>

        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
