<div *ngIf="rows; then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
    <div id="stockTableDiv">
    <p-panel header="Stocks">
        <div id="notes">
            NOTE: The stocks contained below are those that are contained within the MyStockTickers database.
            This is not a complete list of stocks.  If you don't see a stock that you are interested in, please
            click on the Add button to add your stock to the database.
        </div>
        <br/>
        <div id="searchDiv" >
            <div id="searchInputDiv">
                <input id="companyNameInput"
                       placeholder="Search...ticker symbol or company name"
                       size="30"
                       type="text"
                       pInputText uppercase
                       (ngModelChange)="onCompanyNameSearch($event)"
                       [(ngModel)]="companyNameSearch"/>
                <!-- <i id="clearSearchIcon"
                    class="fa fa-times-circle fa-2x"
                    (click)="onClearCompanySearch($event)">
                 </i>-->
            </div>
        </div>
        <div id="tableDiv">
            <p-dataTable [(value)]="rows"
                         [(selection)]="modelObject"
                         selectionMode="single"
                         [scrollable]="true"
                         [lazy]="true"
                         [paginator]="true"
                         [pageLinks]="10"
                         [responsive]="true"
                         [rows]="20"
                         [rowsPerPageOptions]="[20,35,50]"
                         [totalRecords]="totalRows"
                         (onRowSelect)="onRowSelect($event)"
                         (onLazyLoad)="lazyLoadData($event)">

                <p-column id="tickerSymbolColumn"
                          field="tickerSymbol"
                          header="Ticker"
                          [style]="{'width':'100px'}"
                          [editable]="true">
                </p-column>

                <p-column id="lastPriceColumn"
                          field="lastPrice"
                          header="Last Price"
                          [style]="{'width':'100px','text-align':'right'}"
                          [editable]="false">
                </p-column>

                <p-column id="companyNameColumn"
                          field="companyName"
                          header="Company"
                          [editable]="true">
                </p-column>

                <!--<p-column field="exchange"
                          header="Exchange"
                          [style]="{'width':'50px'}"
                          [editable]="true">
                </p-column>-->
            </p-dataTable>
        </div>
        <!--   last: {{stocksPage.last}}
        first: {{stocksPage.first}}
        number: {{stocksPage.number}}
        size: {{stocksPage.size}}
        totalElements: {{stocksPage.totalElements}}
        totalPages : {{stocksPage.totalPages}}
        itemsPerPage: {{stocksPage.itemsPerPage}}-->
        <br/>
        <stock-table-buttons>
        </stock-table-buttons>
        <br/>
    </p-panel>
</div>
    <stock-dialog>
    </stock-dialog>
</ng-template>
<ng-template #elseBlock>
   Loading...
</ng-template>
