<div *ngIf="stocksPage">
    <p-dataTable [value]="stocksPage.content"
                 [scrollable]="true"
                 [lazy]="true"
                 selectionMode="single"
                 [(selection)]="selectedStock"
                 [totalRecords]="totalRecords"
                 (onRowSelect)="onRowSelect($event)"
                 (onLazyLoad)="loadData($event)">
        <p-column field="tickerSymbol"
                  header="Ticker"
                  [editable]="true">
        </p-column>
        <p-column field="companyName"
                  header="Company"
                  [editable]="true">
        </p-column>
    </p-dataTable>
    last: {{stocksPage.last}}
    first: {{stocksPage.first}}
    number: {{stocksPage.number}}
    size: {{stocksPage.size}}
    totalElements: {{stocksPage.totalElements}}
    totalPages : {{stocksPage.totalPages}}
    itemsPerPage: {{stocksPage.itemsPerPage}}
</div>
<div *ngIf="selectedStock">
    <h2>
        {{selectedStock.companyName | uppercase}} is my stock
    </h2>
    <button (click)="gotoStockDetail()">View Details</button>
</div>

