<!--
    Stock Form
-->
<div *ngIf="modelObject">
    <p-panel header="Stock Detail">
        <div>
            <stock-form [crudFormService]="crudFormService">
            </stock-form>
        </div>
        <div>
            <stock-panel-buttons [crudFormService]="stockFormService"
                                 [crudPanelButtonsService]="stockPanelButtonsService"
                                 [crudDialogService]="stockDialogService">
            </stock-panel-buttons>
        </div>
    </p-panel>
</div>