<div *ngIf="modelObject">
    <p-dialog header="Stock Detail"
                     [modal]="true"
                     [closable]="false"
                     [closeOnEscape]="false"
                     [responsive]="true"
                     [width]="400"
                     [height]="200"
                     [minWidth]="400"
                     [minHeight]="200"
                     [resizable]="false"
                     [(visible)]="displayDialog">
        <stock-form>
        </stock-form>
        <p-footer>
            <stock-form-buttons>
            </stock-form-buttons>
        </p-footer>
    </p-dialog>
</div>
