<div *ngIf="modelObject">
    <p-dialog header="Account"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="500"
              [height]="200"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <customer-account-form>
                </customer-account-form>
            </div>
            <p-footer>
                <customer-account-form-buttons>
                </customer-account-form-buttons>
            </p-footer>
    </p-dialog>
</div>
