<div *ngIf="modelObject">
    <p-dialog header="Portfolio"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="500"
              [height]="isCrudDeleteOperation() ? 275 : 175"
              [minWidth]="450"
              [minHeight]="isCrudDeleteOperation() ? 275 : 175"
              [resizable]="false"
              [(visible)]="displayDialog">
        <portfolio-form>
        </portfolio-form>
        <p-footer>
            <portfolio-form-buttons>
            </portfolio-form-buttons>
        </p-footer>
    </p-dialog>
</div>
