<p-panel class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" header="Portfolios">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div id="portfolio-list">
                    <div *ngFor="let portfolio of rows">
                        <div class="portfolio-div"
                             [class.ui-state-active]="isSelectedPortfolio(portfolio)"
                             (click)="onRowSelect(portfolio)">
                            {{portfolio.name}}<BR>
                            Realized GL: {{portfolio.realizedGL}}
                            UnRealized GL: {{portfolio.unrealizedGL}}
                            Market Value: {{portfolio.marketValue}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <portfolio-table-buttons>
                </portfolio-table-buttons>
            </div>
        </div>
    </div>
    <!--
    Portfolio stocks
    -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <portfolio-stock-table>
            </portfolio-stock-table>
        </div>
    </div>
    <!--
    Add Portfolio Dialog
    -->
    <portfolio-dialog>
    </portfolio-dialog>
</p-panel>
