<!----------------------------------------------------------------------------------------------------------
BUTTONS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #buttonsTemplate>
    <portfolio-table-buttons>
    </portfolio-table-buttons>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DIALOG TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #dialogTemplate>
    <portfolio-dialog>
    </portfolio-dialog>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
COLUMNS TEMPLATE
------------------------------------------------------------------------------------------------------------>
<ng-template #columnsTemplate let-column="column" let-modelObject="modelObject">
    <crud-table-column-by-data-type [modelObject]="modelObject"
                                    [column]="column">
    </crud-table-column-by-data-type>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
TABLE DEFINITION
------------------------------------------------------------------------------------------------------------>
        <p-panel header="Portfolios" [toggleable]="true">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <crud-table-layout [buttonsTemplate]="buttonsTemplate"
                                       [columnsTemplate]="columnsTemplate"
                                       [dialogTemplate]="dialogTemplate"
                                       cookieContext="PortfolioTable"
                                       [modelObjectRows]="modelObjectRows"
                                       [(displayColumns)]="displayColumns"
                                       [defaultColumns]="defaultColumns"
                                       [additionalColumns]="additionalColumns"
                                       [totalRecords]="totalRows"
                                       [rowsToDisplay]="rowsToDisplay"
                                       [rowsPerPageOptions]="rowsPerPageOptions"
                                       [(selection)]="selectedModelObject"
                                       (onRowSelect)="onRowSelect($event)"
                                       (onLazyLoad)="lazyLoadTable($event)"
                                       [lazy]="false"
                                       [showCustomizeButton]="false"
                                       [showHeaderButtons]="false"
                                       (onRowDblclick)="onRowDoubleClick($event)">
                    </crud-table-layout>
                </div>
            </div>
        </p-panel>
<!--
Portfolio stocks
-->
<p-panel header="Portfolio Stocks" [toggleable]="true">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <portfolio-stock-table>
            </portfolio-stock-table>
        </div>
    </div>
</p-panel>
<!--
Add Portfolio Dialog
-->
