<p-panel class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" header="Portfolios">
    <div id="portfolio-list" class="ui-grid-row">
        <div *ngFor="let portfolio of portfolios">
            <div class="portfolio-div"
                 [class.ui-state-active]="portfolio == selectedPortfolio"
                 (click)="showPortfolio(portfolio)">
                {{portfolio.name}}
                <i class="fa fa-times-circle" style="float: right" aria-hidden="true" (click)="promptToDeletePortfolio(portfolio)"></i>
            </div>
        </div>
        <i class="fa fa-plus-circle fa-4x" aria-hidden="true" (click)="showAddPortfolioDialog()"></i>
    </div>
    <!--
    Port folio stocks
    -->
    <portfolio-stocks></portfolio-stocks>
    <!--
    Confirm Delete Portfolio Dialog
    -->
    <delete-portfolio-dialog (portfolioDelete)="onDeletePortfolio()"></delete-portfolio-dialog>
    <!--
    Add Portfolio Dialog
    -->
    <p-dialog header="Add Portfolio" [(visible)]="displayAddPortfolioDialog">
        Portfolio name: <input type="text" pInputText [(ngModel)]="newPortfolioName" maxlength="20" required>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-save" label="Save" (click)="addPortfolio()"></button>
                <button type="button" pButton icon="fa-remove" label="Cancel" (click)="hideAddPortfolioDialog()"></button>
            </div>
        </footer>
    </p-dialog>
</p-panel>