<p-panel header="Stock Notes">
    <div>
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="selectedModelObject"
                     (onRowSelect)="onRowSelect($event)"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[20,30,40]"
                     [rows]="25"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [responsive]="true">
            <p-header>{{title}}</p-header>
            <p-column field="notesDate" header="Date" [sortable]="true"></p-column>
            <p-column field="stocks" header="Stocks" [sortable]="true"></p-column>
            <p-column field="notes" header="Notes" [sortable]="true"></p-column>
            <p-footer>
                <stock-notes-table-buttons>
                </stock-notes-table-buttons>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
<stock-notes-dialog>
</stock-notes-dialog>
