<div *ngIf="modelObject">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            SEARCH
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="stockSearch">Stock Search:</label>
                </div>
                <div class="ui-grid-col-9">
                    <stock-autocomplete id="stockSearch"
                                        [(ngModel)]="stockSearch"
                                        [formGroup]="formGroup"
                                        formControlName="stockSearch"
                                        uppercase
                                        (stockSelected)="onStockSelected( $event )">
                    </stock-autocomplete>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOLS
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="tickerSymbols">Stocks:</label>
                </div>
                <div class="ui-grid-col-9">
                    <input id="tickerSymbols"
                           type="text"
                           pInputText
                           required
                           uppercase
                           placeholder="Comma delimited ticker symbols"
                           formControlName="tickerSymbols"
                           [(ngModel)]="tickerSymbols">
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="lastPriceColumn">Price when note was created:</label>
                </div>
                <div id="lastPriceColumn" class="ui-grid-col-3">
                    {{modelObject.lastPrice | currency:'USD': true}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            NOTES
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notes">Notes:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-editor id="notes"
                              name="basic"
                              [style]="{'height':'220px'}"
                              styleClass="editor-dimensions"
                              class="crud-form"
                              formControlName="notes"
                              maxlength="4000"
                              required
                              [(ngModel)]="modelObject.notes">
                    </p-editor>
                    <!--
                    <textarea id="notes"
                              class="crud-form"
                              formControlName="notes"
                              placeholder="Required"
                              autoresize="false"
                              rows="5"
                              columns="70"
                              maxlength="4000"
                              pInputTextarea
                              required
                              [(ngModel)]="modelObject.notes">
                    </textarea> -->
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            SOURCE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesSource">Source:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-dropdown id="notesSource"
                                class="crud-form"
                                [options]="sourceItems"
                                formControlName="notesSource"
                                [(ngModel)]="modelObject.notesSourceId"
                                (onChange)="sourcesOnChange($event)"
                                [style]="{'width':'225px'}"
                                uppercase
                                editable="true"
                                placeholder="Select or enter a source">
                    </p-dropdown>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            RATING
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesRating">Rating:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-rating id="notesRating"
                              class="crud-form"
                              formControlName="notesRating"
                              [stars]="5"
                              [(ngModel)]="modelObject.notesRating">
                    </p-rating>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            BULL OR BEAR
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="bullOrBear">Bull or Bear:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-selectButton id="bullOrBear"
                                    class="crud-form"
                                    formControlName="bullOrBear"
                                    [options]="bullOrBearOptions"
                                    [(ngModel)]="modelObject.bullOrBear">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="actionTaken">Action Taken?:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-selectButton id="actionTaken"
                                    class="crud-form"
                                    formControlName="actionTaken"
                                    [options]="actionTakenOptions"
                                    (onChange)="onActionTakenChange($event)"
                                    [(ngModel)]="modelObject.actionTaken">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN SHARES
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="actionTakenShares">Action Taken Shares:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-inputMask
                        id="actionTakenShares"
                        [ngClass]="{'ui-state-disabled': modelObject.actionTaken == 'NONE'}"
                        class="crud-form"
                        formControlName="actionTakenShares"
                        [(ngModel)]="modelObject.actionTakenShares"
                        [style]="{'width':'60px'}"
                        maxLength="6"
                        placeholder=""
                        mask="9?99999">
                    </p-inputMask>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            DATE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesDate">Date:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-calendar id="notesDate"
                                class="crud-form"
                                formControlName="notesDate"
                                dateFormat="mm/dd/yy"
                                [showIcon]="true"
                                [inputStyle]="{'width':'100px'}"
                                [(ngModel)]="modelObject.notesDate">
                    </p-calendar>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
