<div *ngIf="modelObject">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!--
            SEARCH
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="stockSearch">Stock Search:</label>
                </div>
                <div class="ui-grid-col-9">
                    <stock-autocomplete id="stockSearch"
                                        [(ngModel)]="stockSearch"
                                        [formGroup]="formGroup"
                                        formControlName="stockSearch"
                                        uppercase
                                        (stockSelected)="onStockSelected( $event )">
                    </stock-autocomplete>
                </div>
            </div>
            <!--
            Ticker Symbols
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="tickerSymbols">Stocks:</label>
                </div>
                <div class="ui-grid-col-9">
                    <input id="tickerSymbols"
                           type="text"
                           pInputText
                           required
                           uppercase
                           placeholder="Comma delimited ticker symbols"
                           formControlName="tickerSymbols"
                           [(ngModel)]="tickerSymbols">
                </div>
            </div>
            <!--
            NOTES
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notes">Notes:</label>
                </div>
                <div class="ui-grid-col-9">
                    <textarea id="notes"
                              class="crud-form"
                              formControlName="notes"
                              placeholder="Required"
                              autoresize="false"
                              rows="5"
                              columns="70"
                              pInputTextarea
                              required
                              [(ngModel)]="modelObject.notes">
                    </textarea>
                </div>
            </div>
            <!--
            SOURCE
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesSource">Source:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-dropdown id="notesSource"
                                class="crud-form"
                                [options]="sources"
                                formControlName="notesSource"
                                [(ngModel)]="modelObject.notesSourceId"
                                (onChange)="sourcesOnChange($event)"
                                [style]="{'width':'150px'}"
                                editable="true"
                                placeholder="Select a source">
                    </p-dropdown>
                </div>
            </div>
            <!--
            RATING
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesRating">Rating:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-rating id="notesRating"
                              class="crud-form"
                              formControlName="notesRating"
                              [stars]="5"
                              [(ngModel)]="modelObject.notesRating">
                    </p-rating>
                </div>
            </div>
            <!--
            BULL OR BEAR
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="bullOrBear">Bull or Bear:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-selectButton id="bullOrBear"
                                    class="crud-form"
                                    formControlName="bullOrBear"
                                    [options]="bullOrBearOptions"
                                    [(ngModel)]="modelObject.bullOrBear">
                    </p-selectButton>
                </div>
            </div>
            <!--
            DATE
            -->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-3">
                    <label class="crud-form" for="notesDate">Date:</label>
                </div>
                <div class="ui-grid-col-9">
                    <p-calendar id="notesDate"
                                class="crud-form"
                                formControlName="notesDate"
                                dateFormat="mm/dd/yy"
                                [showIcon]="true"
                                [inputStyle]="{'width':'100px'}"
                                [(ngModel)]="modelObject.notesDate">
                    </p-calendar>
                </div>
            </div>
        </div>
    </form>
</div>
