<div *ngIf="modelObject">
    <p-dialog header="Stock Notes"
              [modal]="true"
              [closable]="false"
              [closeOnEscape]="false"
              [responsive]="true"
              [width]="600"
              [height]="400"
              [resizable]="false"
              [contentStyle]="{'overflow':'visible'}"
              [(visible)]="displayDialog">
            <div>
                <stock-notes-form>
                </stock-notes-form>
            </div>
            <p-footer>
                <stock-notes-form-buttons>
                </stock-notes-form-buttons>
            </p-footer>
    </p-dialog>
</div>
