<p-panel id="stockNotesPanelDiv" header="Stock Notes">
    <div id="stockNotesTableDiv">
        <p-dataTable [value]="rows"
                     selectionMode="single"
                     [(selection)]="modelObject"
                     (onRowSelect)="onRowSelect($event)"
                     (onRowUnselect)="onRowUnSelect($event)"
                     [paginator]="true"
                     [pageLinks]="3"
                     [rowsPerPageOptions]="[20,30,40]"
                     [rows]="25"
                     (onRowDblclick)="onRowDoubleClick($event)"
                     [responsive]="true">
            <p-column id="notesDateColumn"
                      field="notesDate"
                      header="Date"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
                <ng-template let-col let-stockNotes="rowData" pTemplate="body">
                    {{stockNotes[col.field] | date: 'shortDate' }}
                </ng-template>
            </p-column>
            <p-column id="tickerSymbolColumn"
                      field="tickerSymbol"
                      header="Ticker"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
            </p-column>
            <p-column id="stockPriceColumn"
                      field="stockPrice"
                      header="Price @ Date"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
            </p-column>
            <p-column id="actionTakenColumn"
                      field="actionTaken"
                      header="Action Taken"
                      [style]="{'width':'80px'}"
                      [sortable]="true">
            </p-column>
            <p-column id="actionTakenSharesColumn"
                      field="actionTakenShares"
                      header="Action Shares"
                      [style]="{'width':'80px','text-align':'right'}"
                      [sortable]="true">
            </p-column>
            <p-column id="notesColumn"
                      field="notes"
                      header="Notes"
                      [sortable]="true">
            </p-column>
            <p-footer>
                <stock-notes-table-buttons>
                </stock-notes-table-buttons>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
<stock-notes-dialog>
</stock-notes-dialog>
