<div *ngIf="modelObject">
    <div [ngBusy]="busyIndicator"></div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div *ngIf="isCrudCreateOperation(); then createDiv else modifyDiv" class="crud-form ui-grid-row">
            </div>
            <!----------------------------------------------------------------------------------------------------------
            IF CREATING NOTES
            ------------------------------------------------------------------------------------------------------------>
            <ng-template #createDiv>
                <!----------------------------------------------------------------------------------------------------------
                SEARCH
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-2">
                    </div>
                    <div class="ui-grid-col-10">
                        When specifying multiple stocks, the note information will be duplicated for each stock
                    </div>
                </div>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-2">
                        <label class="crud-form" for="stockSearch">Stock Search:</label>
                    </div>
                    <div class="ui-grid-col-10">
                        <stock-autocomplete id="stockSearch"
                                            [(ngModel)]="stockSearch"
                                            [formGroup]="formGroup"
                                            formControlName="stockSearch"
                                            uppercase
                                            (stockSelected)="onStockSelected( $event )">
                        </stock-autocomplete>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------------------------
                TICKER SYMBOLS
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-2">
                        <label class="crud-form" for="tickerSymbols">Stocks:</label>
                    </div>
                    <div class="ui-grid-col-10">
                        <input id="tickerSymbols"
                               type="text"
                               pInputText
                               required
                               uppercase
                               placeholder="Comma delimited ticker symbols"
                               formControlName="tickerSymbols"
                               [(ngModel)]="tickerSymbols">
                    </div>
                </div>
            </ng-template>

            <!----------------------------------------------------------------------------------------------------------
            IF MODIFYING/DELETING NOTES
            ------------------------------------------------------------------------------------------------------------>
            <ng-template #modifyDiv>
                <!----------------------------------------------------------------------------------------------------------
                TICKER SYMBOL
                ------------------------------------------------------------------------------------------------------------>
                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-2">
                        <label class="crud-form" for="tickerSymbols">Stock:</label>
                    </div>
                    <div class="ui-grid-col-1">
                        <input id="tickerSymbol"
                               type="text"
                               pInputText
                               required
                               uppercase
                               maxlength="5"
                               formControlName="tickerSymbol"
                               [(ngModel)]="modelObject.tickerSymbol">
                    </div>
                </div>
            </ng-template>

            <!----------------------------------------------------------------------------------------------------------
            LAST PRICE/Price when notes was created
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div *ngIf="isCrudCreateOperation()" class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="lastPriceColumn">Last Price:</label>
                </div>
                <div *ngIf="!isCrudCreateOperation()" class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="lastPriceColumn">Price when note created:</label>
                </div>
                <div id="lastPriceColumn" class="ui-grid-col-2">
                    {{modelObject.stockPriceWhenCreated | currency:'USD': true}}
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            NOTES
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="notes">Notes:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-editor id="notes"
                              name="basic"
                              [style]="{'height':'120px'}"
                              styleClass="editor-dimensions"
                              class="crud-form"
                              formControlName="notes"
                              maxlength="4000"
                              required
                              [(ngModel)]="modelObject.notes">
                    </p-editor>
                    <!--
                    <textarea id="notes"
                              class="crud-form"
                              formControlName="notes"
                              placeholder="Required"
                              autoresize="false"
                              rows="5"
                              columns="70"
                              maxlength="4000"
                              pInputTextarea
                              required
                              [(ngModel)]="modelObject.notes">
                    </textarea> -->
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            TAGS
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="tags">Tags:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-chips id="tags"
                             name="basic"
                             placeholder="type and press enter"
                             formControlName="tags"
                             [(ngModel)]="modelObject.tags">
                    </p-chips>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            SOURCE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="notesSource">Source:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-dropdown id="notesSource"
                                class="crud-form"
                                [options]="sourceItems"
                                formControlName="notesSource"
                                [(ngModel)]="modelObject.notesSourceId"
                                (onChange)="sourcesOnChange($event)"
                                [style]="{'width':'225px'}"
                                maxlength="20"
                                uppercase
                                editable="true"
                                placeholder="Select or enter a source">
                    </p-dropdown>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            RATING
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="notesRating">Rating:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-rating id="notesRating"
                              class="crud-form"
                              formControlName="notesRating"
                              [stars]="5"
                              [(ngModel)]="modelObject.notesRating">
                    </p-rating>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            BULL OR BEAR
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="bullOrBear">Bull or Bear:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-selectButton id="bullOrBear"
                                    class="crud-form"
                                    formControlName="bullOrBear"
                                    [options]="bullOrBearOptions"
                                    [(ngModel)]="modelObject.bullOrBear">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="actionTaken">Action Taken?:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-selectButton id="actionTaken"
                                    class="crud-form"
                                    formControlName="actionTaken"
                                    [options]="actionTakenOptions"
                                    (onChange)="onActionTakenChange($event)"
                                    [(ngModel)]="modelObject.actionTaken">
                    </p-selectButton>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN SHARES
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="actionTakenShares">Action Taken Shares:</label>
                </div>
                <div class="ui-grid-col-2">
                    <p-inputMask
                        id="actionTakenShares"
                        [ngClass]="{'ui-state-disabled': modelObject.actionTaken == 0,
                                    'ui-state-default': modelObject.actionTaken != 0 }"
                        class="crud-form"
                        formControlName="actionTakenShares"
                        [(ngModel)]="modelObject.actionTakenShares"
                        maxLength="6"
                        placeholder=""
                        mask="9?99999">
                    </p-inputMask>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            ACTION TAKEN PRICE
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="actionTakenPrice">Action Taken Price:</label>
                </div>
                <div id="actionTakenPrice" class="ui-grid-col-2">
                    <input currencyMask
                           [style]="{'width':'60px'}"
                           class="crud-form ui-inputtext ui-widget ui-widget-content ui-corner-all ui-state-filled"
                           [ngClass]="{'ui-state-disabled': modelObject.actionTaken == 0,
                                       'ui-state-default': modelObject.actionTaken != 0 }"
                           formControlName="actionTakenPrice"
                           [(ngModel)]="modelObject.actionTakenPrice"
                           placeholder="$"/>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            DATE
            ------------------------------------------------------------------------------------------------------------>
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="notesDate">Date:</label>
                </div>
                <div class="ui-grid-col-10">
                    <p-calendar id="notesDate"
                                class="crud-form"
                                [inputStyle]="{'width':'100px'}"
                                formControlName="notesDate"
                                dateFormat="mm/dd/yy"
                                [showIcon]="true"
                                [(ngModel)]="modelObject.notesDate">
                    </p-calendar>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
