
<div *ngIf="modelObject">
    <p-panel header="Stock Notes">
        <div>
            <stock-notes-form [crudFormService]="crudFormService">
            </stock-notes-form>
        </div>
        <p-footer>
            <stock-notes-panel-buttons [crudFormService]="stockNotesFormService"
                                       [crudPanelButtonsService]="stockNotesPanelButtonsService"
                                       [crudDialogService]="stockNotesDialogService">
            </stock-notes-panel-buttons>
        </p-footer>
    </p-panel>
</div>
