<div [ngSwitch]="column.colId">
    <!----------------------------------------------------------------------------------------------------------
    LAST PRICE
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'lastPrice'">
        <stock-price-quote-last-price [tickerSymbol]="modelObject.tickerSymbol">
        </stock-price-quote-last-price>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    TICKER SYMBOL
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'tickerSymbol'">
        <ticker-symbol-column [tickerSymbol]="modelObject.tickerSymbol">
        </ticker-symbol-column>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    STOCK PRICE WHEN CREATED
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'stockPriceWhenCreated'">
        <currency-column [currencyValue]="modelObject.stockPriceWhenCreated">
        </currency-column>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    PERCENT OF CHANGE
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'percentChangeSinceCreated'">
        <stock-quote-percent-change-since-created [stockModelObject]="modelObject">
        </stock-quote-percent-change-since-created>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    ANALYST PRICE TARGET
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'percentChangeSinceCreated'">
        <div style="text-align: right">
            <currency-column [currencyValue]="modelObject[column.field]">
            </currency-column>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    ANALYST AVERAGE UPSIDE PERCENT
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'avgUpsidePercent'">
        <div style="text-align: right">
            <stock-average-upside-percent [tickerSymbol]="modelObject.tickerSymbol">
            </stock-average-upside-percent>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    ANALYST AVG PRICE TARGET
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'avgAnalystPriceTarget'">
        <stock-analyst-price-target [tickerSymbol]="modelObject.tickerSymbol"
                                    [target]="'avg'">
        </stock-analyst-price-target>
    </div>
    <!----------------------------------------------------------------------------------------------------------
    COMPANY NAME
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchCase="'companyName'">
        <stock-company-name [tickerSymbol]="modelObject.tickerSymbol">
        </stock-company-name>
    </div>

    <ng-template #loadingTemplate>
       Loading...
    </ng-template>
    <!----------------------------------------------------------------------------------------------------------
    COMMON DATA TYPES
    ------------------------------------------------------------------------------------------------------------>
    <div *ngSwitchDefault>
        <!----------------------------------------------------------------------------------------------------------
        CACHED DATA
        ------------------------------------------------------------------------------------------------------------>
        <div [ngSwitch]="column.cachedDataType">
            <div *ngSwitchCase="CrudTableColumnCachedDataType.STOCK_PRICE_QUOTE">
                <div *ngIf="modelObject.stockPriceQuote; else loadingTemplate">
                    <crud-table-column-by-data-type [modelObject]="modelObject.stockPriceQuote"
                                                    [column]="column">
                    </crud-table-column-by-data-type>
                </div>
            </div>
            <div *ngSwitchCase="CrudTableColumnCachedDataType.STOCK_QUOTE">
                <div *ngIf="modelObject.stockQuote; else loadingTemplate">
                    <crud-table-column-by-data-type [modelObject]="modelObject.stockQuote"
                                                    [column]="column">
                    </crud-table-column-by-data-type>
                </div>
            </div>
            <div *ngSwitchDefault>
                <!----------------------------------------------------------------------------------------------------------
                NON CACHED DATA
                ------------------------------------------------------------------------------------------------------------>
                <crud-table-column-by-data-type [modelObject]="modelObject"
                                                [column]="column">
                </crud-table-column-by-data-type>
            </div>
        </div>
    </div>
</div>
