<!----------------------------------------------------------------------------------------------------------
DEFINE THE FILTER TEMPLATE TO INCLUDE THE STOCK SYMBOL SEARCH
<ng-template *ngIf="displayStockSearchFilter" #filterTemplate>
------------------------------------------------------------------------------------------------------------>
<ng-template #filterTemplate>
    <div class="crud-form ui-grid-row">
        <div class="ui-grid-col-8 ui-state-default">
            <div *ngIf="displayStockSearchFilter">
                <stock-search (stockSelected)="onStockSelected( $event )"
                              (resetButtonClick)="onResetButtonClick()">
                </stock-search>
            </div>
        </div>
        <div class="ui-grid-col-4 ui-state-default">
        </div>
    </div>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DEFINE THE DEFAULT COLUMNS TO INCLUDE ALL AVAILABLE STOCK COLUMNS
------------------------------------------------------------------------------------------------------------>
<ng-template #defaultColumnsTemplate>
    <stock-model-object-common-columns>
    </stock-model-object-common-columns>
</ng-template>

<!----------------------------------------------------------------------------------------------------------
DEFINE THE TABLE LAYOUT
------------------------------------------------------------------------------------------------------------>
<crud-table-layout [dialogTemplate]="dialogTemplate"
                   [columnsTemplate]="columnsTemplate"
                   [defaultColumnsTemplate]="defaultColumnsTemplate"
                   [buttonsTemplate]="buttonsTemplate"
                   [filterTemplate]="filterTemplate"
                   [cookieContext]="cookieContext"
                   [modelObjectRows]="modelObjectRows"
                   [rowsToDisplay]="rowsToDisplay"
                   [(displayColumns)]="displayColumns"
                   [defaultColumns]="defaultColumns"
                   [additionalColumns]="additionalColumns"
                   [paginator]="paginator"
                   [pageLinks]="pageLinks"
                   [rowsPerPageOptions]="rowsPerPageOptions"
                   [totalRecords]="totalRecords"
                   [loadingData]="loadingData"
                   [(selection)]="selectedModelObject"
                   [scrollable]="scrollable"
                   (rowSelected)="onRowSelect($event)"
                   [showHeaderButtons]="showHeaderButtons"
                   (onLazyLoadEvent)="onLazyLoad($event)"
                   [lazy]=lazy>
</crud-table-layout>
