@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

/*@import "jquery-style/jquery-ui.css";*/
/*@import "primng-afterdark-theme.css";*/

@import "../node_modules/primeng/resources/themes/darkness/theme.css";
/*@import "../node_modules/primeng/resources/themes/cruze/theme.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.root__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
    position: relative;
}

/****************************************************
 * CRUD TABLE
 ****************************************************/
::ng-deep .ui-datatable-scrollable-view .ui-datatable-scrollable-body
{
    max-height: 300px;
    border: 1px solid #D5D5D5;
}

/****************************************************
 * PRICES and TOTALS
 ****************************************************/
.positiveGain
{
    /*color: white;
    background: green;*/
    color: green;
    display: block;
}
.negativeGain
{
    /*
    color: white;
    background: red;
    */
    color: red;
    display: block;
}

/****************************************************
 * CRUD TABLE BUTTONS
 ****************************************************/
.crud-table-button
{
    margin-right: 10px;
}

div.crud-table-button
{
    display: inline-block;
    width: 125px;
    height: 35px;
}

button.disabled
{
    opacity:.35;
    filter:Alpha(Opacity=35);
    cursor:default !important;
}
/*
 * http://blog.rangle.io/angular-2-ngmodel-and-custom-form-components/
 */
.ng-valid[required], .ng-valid.required
{
    /*border-left: 5px solid #42A948;*/ /* green */
    /*border: 1px solid green;*/
}

input.ng-invalid.ng-dirty:not(form)
{
    border-left: 5px solid #a94442; /* red*/
    /*border: 1px solid red;*/
}

div.crud-panel-delete-message
{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/*
 * Overflow settings so that drop down p-dropdown work correctly
 */
.ui-dialog {
    overflow: visible;
}

.ui-dialog-content {
    overflow: visible;
}

.background-color-blue {
    background-color: #2399e5;
}

body {
    background-color: #1F2021;
}

.ui-rating-star {
    color: gold;
}

.bgcolor4D4D4D {
    color: white;
    background: #4D4D4D;
}

.bgcolor2399e5 {
    color: white;
    background: #2399e5;
}

.bgcolor221D1D {
    color: gray;
    background: #221D1D;
}

.bg-highlight-color {
    color: gray;
    background: #BBBBBB;
}

.bg-color {
    color: gray;
    background: #1F2021;
}

.bgcolor323435 {
    color: gray;
    background: #323435;
}


/* PrimeNG DatTable */


/* You can add global styles to this file, and also import other style files */
/*
body{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin:20px
}

.datatable {
    text-align: left;
    width:75%;
    margin:0 auto;
}
.datatable.vertical-scroll {
    height:70vh;
}*/
