@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
/*@import "../node_modules/primeng/components/rating/rating.css";*/

/*@import "jquery-style/jquery-ui.css";*/
@import "primng-afterdark-theme.css";

/* My customizations of PrimeNG afterdark theme */

div.crud-panel-delete-message
{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.crud-table-button
{
    font-size: 1.25em;
    margin-right: 10px;
}

div.crud-table-button
{
    display: inline-block;
    width: 100px;
    height: 35px;
}

div.crud-form.ui-grid-row
{
    /*border: 1px solid red;*/
}

div.crud-form-label
{
    text-align: right;
    /*border: 1px solid red;*/
    font-size: 1.20em;
    /*
    display: table-cell;
    vertical-align: middle;
    font-size: 1.0em;*/
    /*height: 40px;
    line-height: 40px; */
    /*
    display: inline-block;
    vertical-align: middle;*/
}

label.crud-form
{
    /*font-size: 1.2em;*/
    /*width: 200px;*/
    /*height: 35px;*/
    /*text-align: right;*/
    /*border: 1px solid red;*/
}

input.crud-form
{
    /*
    vertical-align: middle;
    font-size: 1.0em;*/
    /*height: 35px;*/
    /*border: 1px solid red;*/
    /*
    display: inline-block;
    vertical-align: middle;
    */
}

p-dropdown.crud-form
{
    vertical-align: middle;
    font-size: 1.0em;
}

p-inputMask.crud-form
{
    vertical-align: middle;
    font-size: 1.0em;
}

/*
 * Overflow settings so that drop down p-dropdown work correctly
 */
.ui-dialog {
    overflow: visible;
}

.ui-dialog-content {
    overflow: visible;
}

.background-color-blue {
    background-color: #2399e5;
}

body {
    background-color: #1F2021;
}

.ui-rating-star {
    color: gold;
}

.bgcolor4D4D4D {
    color: white;
    background: #4D4D4D;
}

.bgcolor2399e5 {
    color: white;
    background: #2399e5;
}

.bgcolor221D1D {
    color: gray;
    background: #221D1D;
}

.bg-highlight-color {
    color: gray;
    background: #BBBBBB;
}

.bg-color {
    color: gray;
    background: #1F2021;
}

.bgcolor323435 {
    color: gray;
    background: #323435;
}


/* PrimeNG DatTable */


/* You can add global styles to this file, and also import other style files */
/*
body{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin:20px
}

.datatable {
    text-align: left;
    width:75%;
    margin:0 auto;
}
.datatable.vertical-scroll {
    height:70vh;
}*/
