<p-dialog header="Import Gains and Losses"
          [modal]="true"
          [closable]="true"
          [closeOnEscape]="false"
          [responsive]="true"
          [width]="500"
          [height]="dialogHeight"
          [resizable]="false"
          [contentStyle]="{'overflow':'visible'}"
          [(visible)]="displayDialog">

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div *ngIf="importing">
                <p-progressBar mode="indeterminate"></p-progressBar>
            </div>
            <!----------------------------------------------------------------------------------------------------------
            DELETE ENTRIES
            ----------------------------------------------------------------------------------------------------------->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-5">
                    <label class="crud-form" for="clearEntries">Delete All Existing Gains/Losses:</label>
                </div>
                <div class="ui-grid-col-3" id="clearEntries">
                    <p-toggleButton [(ngModel)]="importConfiguration.clearEntries">
                    </p-toggleButton>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------
            LINKED ACCOUNT
            ----------------------------------------------------------------------------------------------------------->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-5">
                    <label class="crud-form" for="account">Account:</label>
                </div>
                <div class="ui-grid-col-4" id="account">
                    <linked-account-selection [(ngModel)]="linkedAccountId" >
                    </linked-account-selection>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------
            IMPORT FORMAT TYPE
            ----------------------------------------------------------------------------------------------------------->
            <div class="crud-form ui-grid-row">
                <div class="crud-form-label ui-grid-col-5">
                    <label class="crud-form" for="importFormat">Import Format:</label>
                </div>
                <div class="ui-grid-col-4" id="importFormat">
                    <p-dropdown [options]="importFormats"
                                [style]="{'width':'225px'}"
                                placeholder="Select a Format"
                                (onChange)="onImportFormatChange($event)"
                                [(ngModel)]="importFormat">
                    </p-dropdown>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            CUSTOM FORMAT INPUT
            ----------------------------------------------------------------------------------------------------------->
            <div *ngIf="importFormat === IMPORT_FORMAT_CUSTOM"
                 class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
                 style="margin: 10px 0px">

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="skipHeaderRows">Skip header rows:</label>
                    </div>
                    <div class="ui-grid-col-2" id="skipHeaderRows">
                        <p-spinner [(ngModel)]="importConfiguration.skipHeaderRows"
                                   [min]="0">
                        </p-spinner>
                    </div>
                </div>

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="skipFooterRows">Skip footer rows:</label>
                    </div>
                    <div class="ui-grid-col-2" id="skipFooterRows">
                        <p-spinner [(ngModel)]="importConfiguration.skipFooterRows"
                                   [min]="0">
                        </p-spinner>
                    </div>
                </div>

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="tickerSymbolColumn">Ticker symbol column:</label>
                    </div>
                    <div class="ui-grid-col-2" id="tickerSymbolColumn">
                        <p-spinner [(ngModel)]="importConfiguration.tickerSymbolColumn"
                                   [min]="1">
                        </p-spinner>
                    </div>
                </div>

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="gainsColumn">Gains column:</label>
                    </div>
                    <div class="ui-grid-col-2" id="gainsColumn">
                        <p-spinner [(ngModel)]="importConfiguration.gainsColumn"
                                   [min]="0">
                        </p-spinner>
                    </div>
                </div>

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="lossColumn">Loss column:</label>
                    </div>
                    <div class="ui-grid-col-2" id="lossColumn">
                        <p-spinner [(ngModel)]="importConfiguration.lossColumn"
                                   [min]="0">
                        </p-spinner>
                    </div>
                </div>

                <div class="crud-form ui-grid-row">
                    <div class="crud-form-label ui-grid-col-5">
                        <label class="crud-form" for="gainsLossColumn">Combined Gains/Loss column:</label>
                    </div>
                    <div class="ui-grid-col-2" id="gainsLossColumn">
                        <p-spinner [(ngModel)]="importConfiguration.gainsLossColumn"
                                   [min]="0">
                        </p-spinner>
                    </div>
                </div>
            </div>
            <!----------------------------------------------------------------------------------------------------------
            FILE UPLOAD
            ----------------------------------------------------------------------------------------------------------->
            <div class="crud-form ui-grid-row">
                <div class="ui-grid-col-12">
                    <p-fileUpload name="files"
                                  url="{{gainsLossesService.getImportURL()}}"
                                  accept=".xls,.xlsx"
                                  maxFileSize="10000000"
                                  [multiple]="true"
                                  mode="advanced"
                                  (onBeforeUpload)="onBeforeUpload($event)"
                                  (onUpload)="onUpload($event)"
                                  (onSelect)="onSelect($event)"
                                  (onProgress)="onProgress($event)"
                                  (onError)="onError($event)">
                    </p-fileUpload>
                </div>
            </div>
            <div *ngIf="importErrorResults != null" style="margin: 10px">
                <div class="crud-form ui-grid-row">
                    <div class="ui-grid-col-12" style="background-color: red;color: white">
                        <pre style="background-color: red;color: white">{{importErrorResults}}</pre>
                    </div>
                </div>
            </div>
            <div *ngIf="importSuccessResults != null">
                <div class="crud-form ui-grid-row" style="margin: 10px">
                    <div class="ui-grid-col-12" style="background-color: green;color: white">
                        <pre style="background-color: green;color: white">{{importSuccessResults}}</pre>
                    </div>
                </div>
            </div>
            <div class="crud-form ui-grid-row" style="margin: 10px;text-align: center">
                <div class="crud-form-button">
                    <button pButton
                            type="button"
                            (click)="onOkButtonClick()"
                            label="OK">
                    </button>
                </div>
                <div class="crud-form-button">
                    <button pButton
                            type="button"
                            (click)="onCancelButtonClick()"
                            label="Cancel">
                    </button>
                </div>
            </div>
        </div>
</p-dialog>
