<div *ngIf="isInitialized()">
    <form [formGroup]="formGroup">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <!----------------------------------------------------------------------------------------------------------
            TICKER SYMBOL
            ------------------------------------------------------------------------------------------------------------>
            <stock-search-selected-companies (stockSelected)="onStockSelected($event)"
                                             [maxStocks]="1"
                                             [tickerSymbol]="modelObject.tickerSymbol">
            </stock-search-selected-companies>

            <!--
            <div *ngIf="stockNotFound">
                <div class="ui-grid-row">
                    Stock was not found.  Enter company name.
                    <div class="crud-form-label ui-grid-col-2">
                        <label class="crud-form" for="linkedAccountId">Company Name:</label>
                    </div>
                    <div class="ui-grid-col-4">
                        <linked-account-selection id="linkedAccountId"
                                                  formControlName="linkedAccountId"
                                                  [(ngModel)]="modelObject.linkedAccountId">
                        </linked-account-selection>
                    </div>
                </div>
            </div>
            -->

            <!----------------------------------------------------------------------------------------------------------
            LINKED ACCOUNT
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="linkedAccountId">Account:</label>
                </div>
                <div class="ui-grid-col-4">
                    <linked-account-selection id="linkedAccountId"
                                              formControlName="linkedAccountId"
                                              [(ngModel)]="modelObject.linkedAccount.id">
                    </linked-account-selection>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            GAINS
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="gains">Gains:</label>
                </div>
                <div class="ui-grid-col-3">
                    <input currencyMask
                           id="gains"
                           [ngClass]="{'ui-state-disabled': disabled,
                                       'ui-state-default': !disabled }"
                           formControlName="gains"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-filled"
                           [(ngModel)]="modelObject.gains"
                           placeholder="$"/>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------------------
            LOSSES
            ------------------------------------------------------------------------------------------------------------>
            <div class="ui-grid-row">
                <div class="crud-form-label ui-grid-col-2">
                    <label class="crud-form" for="losses">Losses:</label>
                </div>
                <div class="ui-grid-col-3">
                    <input currencyMask
                           id="losses"
                           [ngClass]="{'ui-state-disabled': disabled,
                                       'ui-state-default': !disabled }"
                           formControlName="losses"
                           class="crud-form ui-inputtext ui-widget-content ui-corner-all ui-state-filled"
                           [(ngModel)]="modelObject.losses"
                           placeholder="$"/>
                </div>
            </div>
        </div>
        <!--
        <div *ngIf="displayProgressBar">
            <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
        <div *ngIf="displayProgressBar == true">
            <h1>Progress XXX</h1>
        </div>
        <div *ngIf="!displayProgressBar">
            <h1>Progress BAR</h1>
        </div>
        -->
    </form>
</div>
